In [1]:
import pandas as pd
import preprocessing.data_management as dm

In [2]:
user_event_df = dm.get_user_event_dataframe(
    user_event_file_path='../dataset/cliks_add.csv'
)
user_event_df

,user_id,event_id,event_name,clicks_count
0,00001deaca68c3e7a9943ad6d29d1a95,1205186,Концерт оркестра UralBand,2
1,00001deaca68c3e7a9943ad6d29d1a95,1237397,Выставка «Антика. Западноевропейское искусство...,1
2,00001deaca68c3e7a9943ad6d29d1a95,1264968,Выставка «От романтизма к импрессионизму. Фран...,1
3,00002fa07c02629bf0dc022a6c0283d1,476106,Выставка «Искусство ХХ века»,1
4,000061466abdfa67ca963ae752fa937d,185644,Мюзикл «Снежная королева»,1
...,...,...,...,...
630584,ffff5daad033e2b9b57593627d9b1a9b,1189248,Выставка «91 день счастья»,2
630585,ffff5daad033e2b9b57593627d9b1a9b,1390909,Музыкальная программа The Beatles,2
630586,ffff5daad033e2b9b57593627d9b1a9b,1423074,Ночь искусств в Волгоградском музее изобразите...,1
630587,ffff63c5a29c432e2ca2fb4aa968d7ba,1292376,Посещение Павловского парка,1
630588,ffffd698c2166fcf938a69c74cab84ed,13441,Спектакль «Дядюшкин сон»,1

In [3]:
users_df = dm.get_user_dataframe(
    users_file_path='../dataset/users_and_purchases/users.txt',
    regions_file_path='../dataset/users_and_purchases/region.txt',
    regions_nums_file_path='../dataset/RegionRussia.csv'
)
users_df

,user_id,region,region_code,age
0,9af020ef757c476c64fbdf0b71781dfe,Республика Коми,11,22.0
1,06d589eba089ca6bcb984d32c5399cc5,Пермский край,59,22.0
2,2816bd3aabf33fbc25c82678571b0e81,Краснодарский край,23,23.0
3,f6fcc2dadfeb783308bd102ddcbc1412,Саратовская область,64,17.0
4,e0b3e50d8d9f467470a8aa2b42899841,Москва,77,21.0
...,...,...,...,...
2231047,6e8f4dc75245926306665942fd1173b2,Ханты-Мансийский автономный округ – Югра,86,14.0
2231048,c925794714279efbdbe2e5cba0de7b28,Москва,77,19.0
2231049,18cf6bb59c25e9c6493f89780348b622,Ханты-Мансийский автономный округ – Югра,86,18.0
2231050,ec8d3c862c1383c63f8adbca559bf86c,Ростовская область,61,20.0
2231051,313b97882f8a38e1554543773dc92e16,Свердловская область,66,18.0

In [4]:
events_df = dm.get_events_dataframe(
    events_file_path='../dataset/users_and_purchases/events/events_pushka_accepted_30122021.csv',
    organizations_file_path='../dataset/users_and_purchases/events/organizations.csv'
)
events_df

,event_id,event_name,link,add_link,org_id,org_name,region_name,category
0,36,Спектакль «Касатка»,https://quicktickets.ru/belgorodskiy-dramatich...,NaN,6,ОГАУК «Драматический театр имени М. С. Щепкина»,Белгородская обл,Театры
1,86,Спектакль «Горе от ума»,https://quicktickets.ru/belgorodskiy-dramatich...,NaN,6,ОГАУК «Драматический театр имени М. С. Щепкина»,Белгородская обл,Театры
2,86,Спектакль «Горе от ума»,https://quicktickets.ru/belgorodskiy-dramatich...,NaN,6,ОГАУК «Драматический театр имени М. С. Щепкина»,Белгородская обл,Театры
3,139,Спектакль «Куклы»,https://quicktickets.ru/belgorodskiy-dramatich...,NaN,6,ОГАУК «Драматический театр имени М. С. Щепкина»,Белгородская обл,Театры
4,150,Спектакль «Филумена Мартурано»,https://quicktickets.ru/belgorodskiy-dramatich...,NaN,6,ОГАУК «Драматический театр имени М. С. Щепкина»,Белгородская обл,Театры
...,...,...,...,...,...,...,...,...
47851,1518521,Опера «Садко»,https://tickets.mariinsky.ru/ru/performance/VG...,NaN,5268,ФГБУК «Государственный академический Мариински...,г Санкт-Петербург,Театры
47852,1518585,Опера «Фауст»,https://tickets.mariinsky.ru/ru/performance/Nk...,NaN,5268,ФГБУК «Государственный академический Мариински...,г Санкт-Петербург,Театры
47853,1518645,Опера «Трубадур»,https://tickets.mariinsky.ru/ru/performance/OW...,NaN,5268,ФГБУК «Государственный академический Мариински...,г Санкт-Петербург,Театры
47854,1519214,Спектакль «Царевна-лягушка»,https://ulan-ude.kassy.ru/events/range-2021-12/,NaN,12276,АУК РБ Бурятский республиканский театр кукол «...,Респ Бурятия,Театры
47855,1521196,Новогодний гала-концерт,https://tickets.mariinsky.ru/prim/ru/performan...,NaN,5268,ФГБУК «Государственный академический Мариински...,г Санкт-Петербург,Театры

In [5]:
tatarstan_df = (
    user_event_df.
    pipe(dm.filter_user_event_by_user_region, users_df, 16).
    pipe(dm.filter_user_event_by_event_region, events_df, 'Респ Татарстан')
)
tatarstan_df.to_csv('tatarstan_user_event_df.csv')
tatarstan_df

,user_id,event_id,event_name,clicks_count
37,000529544ed81eeda0a6ff16d3337ee6,1266389,Спектакль «Вызывали?»,1
218,0012ee8c68d1eb943df5eecc5b807ec5,1354898,Мастер-класс по коллективной каллиграфии,1
362,0022f92c6f6bc2c15417dc0f95dbe0af,1428708,Спектакль «Незабываемое»,1
449,002d5d0e6e642e5896153573f83bb675,1046271,Балет «Лебединое озеро»,1
450,002d5d0e6e642e5896153573f83bb675,1243797,Спектакль-променад «Ночной трамвай»,1
...,...,...,...,...
630561,fffe316f6d4eb737e42b9829b3b896ed,1431277,Мастер-класс «Татарская тюбетейка»,1
630562,fffe316f6d4eb737e42b9829b3b896ed,1456280,Экскурсия по Свияжску с посещением Музея Гражд...,1
630563,fffe316f6d4eb737e42b9829b3b896ed,1463922,Мастер-класс «Ключница из джута»,1
630565,fffe6e0a70d3361055f799ba3457e911,1243745,Спектакль «Мэхэббэт ФМ»,2
630566,fffe6e0a70d3361055f799ba3457e911,1275371,Спектакль «Мэхэббэт FM»,1

In [6]:
bashkortostan_df = (
    user_event_df.
    pipe(dm.filter_user_event_by_user_region, users_df, 2).
    pipe(dm.filter_user_event_by_event_region, events_df, 'Респ Башкортостан')
)
bashkortostan_df.to_csv('bashkortostan_user_event_df.csv')
bashkortostan_df

,user_id,event_id,event_name,clicks_count
94,000b1ca3e2eefa7c8b24ed417548b301,855200,Спектакль «Щелкунчик»,2
161,000d99f08793606692008c9d805bd357,1439439,Выставка «От камня до искусственного интеллекта»,1
203,00127dd4421eddeb5f206ae28f3b540c,1245777,Балет «Анюта»,2
372,002445526f1c2e1f660cad308434c9e6,1260968,Экскурсия «Башкортостан в годы Великой Отечест...,3
382,002493182f55b3337eda7e5186aba306,1294104,Спектакль «Луна и листопад»,1
...,...,...,...,...
630408,ffef12590dcade483c5843400ffbfdf1,1266191,Выставки проекта «Современное изобразительное ...,1
630478,fff5187ee2cc6677d5a559f6951eb5b6,1450579,Спектакль «Снежная корискуолева»,1
630484,fff5a247a711d1589fa1c3282d2689a9,1359097,Мастер-класс «Северные амуры»,8
630538,fffb3cc939336c91c2989420836ae3d7,1255556,Спектакль «Палата бизнес-класса»,1
630539,fffb3cc939336c91c2989420836ae3d7,1353228,Спектакль «Старший сын»,1

In [7]:
kemerov_df = (
    user_event_df.
    pipe(dm.filter_user_event_by_user_region, users_df, 42).
    pipe(dm.filter_user_event_by_event_region, events_df, 'Кемеровская обл')
)
kemerov_df.to_csv('kemerov_user_event_df.csv')
kemerov_df

,user_id,event_id,event_name,clicks_count
80,0009acaba2a155b50db6fb9a84730d55,1166761,Спектакль «Дачный роман»,1
175,000f227572f08762262ef5e8ea853150,1349144,Спектакль «Граф Монте-Кристо»,1
200,001273ee6fb0b3c0ced5b49b6f395d4c,1354824,Балет «Лебединое озеро»,1
201,001273ee6fb0b3c0ced5b49b6f395d4c,1421259,Спектакль «Анна Каренина»,1
202,001273ee6fb0b3c0ced5b49b6f395d4c,1448546,Спектакль «Конек-горбунок»,1
...,...,...,...,...
630492,fff61d8efe3d3e4239f9cfe1ce84f7a5,10758,Спектакль «Что случилось с крокодилом»,1
630493,fff61d8efe3d3e4239f9cfe1ce84f7a5,372659,Спектакль «Портрет Дориана Грея»,1
630494,fff61d8efe3d3e4239f9cfe1ce84f7a5,1248281,Спектакль «Белые ночи»,1
630495,fff61d8efe3d3e4239f9cfe1ce84f7a5,1354824,Балет «Лебединое озеро»,1
630496,fff61d8efe3d3e4239f9cfe1ce84f7a5,1413221,Спектакль «С любимыми не расставайтесь»,1

In [10]:
novosib_df = (
    user_event_df.
    pipe(dm.filter_user_event_by_user_region, users_df, 54).
    pipe(dm.filter_user_event_by_event_region, events_df, 'Новосибирская обл')
)
novosib_df.to_csv('novosib_user_event_df.csv')
novosib_df

,user_id,event_id,event_name,clicks_count
8,00016cc5bb8787d7bfc0b91352510e9a,1382754,Опера «Пиковая дама. Игра»,1
171,000f12677bec59409b882081cc320321,1055948,Спектакль «Sociopath/Гамлет»,1
206,0012e8e20185286b022daedc45551a8e,62204,Спектакль «Чудные люди»,4
207,0012e8e20185286b022daedc45551a8e,918447,Спектакль «Дети солнца»,2
208,0012e8e20185286b022daedc45551a8e,918467,Спектакль «Дело»,1
...,...,...,...,...
630208,ffdd4cc929a622e9cb37f7323a201e87,1241918,Балет «Золушка»,2
630417,fff040bf4d165f21533453267a13ff9d,1377437,Концерт «Петербург Андрея Петрова»,1
630418,fff040bf4d165f21533453267a13ff9d,1400615,Концерт Александра Малинина,2
630509,fff8c7b30db0cf2c5bc2f54623f796ae,1295584,Выставка «Русское искусство XVI–XX веков»,1
630534,fffae3821ab9cbb0c43c990a7b7c0b47,1248070,III Международная триеннале современной графики,1

In [11]:
volgograd_df =  (
    user_event_df.
    pipe(dm.filter_user_event_by_user_region, users_df, 34).
    pipe(dm.filter_user_event_by_event_region, events_df, 'Волгоградская обл')
)
volgograd_df.to_csv('volgograd_user_event_df.csv')
volgograd_df

,user_id,event_id,event_name,clicks_count
64,0008dfce207211fb6d2b354ef80d618b,1364219,Экскурсия по Музею Эйнштейна,1
112,000cc2c48495797cec5a813d605c41a9,1245922,Экскурсия по панораме «Разгром немецко-фашистс...,4
164,000e3a01cc889ec557b8bb841248fb31,1361240,Спектакль «Евгений Онегин»,1
265,001705b6bb5fb89bb0b280a424e504b3,1364219,Экскурсия по Музею Эйнштейна,1
295,001aba65ff14c40ee48588b85e215735,1321173,Спектакль «Комедия ошибок»,2
...,...,...,...,...
630452,fff32340c2c0b65535047ecdcaedc4c1,1391163,Спектакль «Мамуля»,1
630453,fff32340c2c0b65535047ecdcaedc4c1,1403008,Драматический стендап «Мода на искренность»,4
630584,ffff5daad033e2b9b57593627d9b1a9b,1189248,Выставка «91 день счастья»,2
630585,ffff5daad033e2b9b57593627d9b1a9b,1390909,Музыкальная программа The Beatles,2
630586,ffff5daad033e2b9b57593627d9b1a9b,1423074,Ночь искусств в Волгоградском музее изобразите...,1