In [226]:
import pandas as pd
import numpy as np
import math
import re

In [227]:
path = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/'
path2 = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/events/'

In [228]:
click = pd.read_csv(path + 'click.csv', sep=';', error_bad_lines=False)

b'Skipping line 862995: expected 6 fields, saw 7\nSkipping line 862997: expected 6 fields, saw 7\n'
b'Skipping line 2142333: expected 6 fields, saw 7\nSkipping line 2142335: expected 6 fields, saw 7\n'
b'Skipping line 2844195: expected 6 fields, saw 7\n'
b'Skipping line 3074159: expected 6 fields, saw 7\n'

In [229]:
events_pushka_accepted_30122021 = pd.read_csv(path2 + 'events_pushka_accepted_30122021.csv', sep = ',', error_bad_lines=False)

In [230]:
click.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url
684197,2021-11-22 11:47:58,2021-11-22,"iOS, iOS 14.7.1",436ff8660cab7561340fe895bd743335,b055aab403a830d883375cd22c2057bd,https://beneffis.ru/afisha/detail/shchelkunchic/
1596588,2021-11-20 01:03:18,2021-11-20,"iOS, iOS 14.6",97be1051d453cc35850d5601a5952d8c,98285082b998722b776d4a99dc168392,https://mrteatr.ru/afisha/#afisha_next_1month
1563884,2021-11-18 12:29:18,2021-11-18,"Android, 11 (SDK 30)",07ab3a3f2da54db2b3004e231fa5859e,adf6eec6f4d2d22a51be140f58c25d29,https://smr.kassir.ru/frame/event/901828?key=d...

In [231]:
events_pushka_accepted_30122021.sample(3)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name
726,52511,Спектакль «Дядюшкин сон»,https://lk.zakaz.cloud/b/5/567,https://lk.zakaz.cloud/b/5/593,5379.0,МБУК городского округа Самара «Театр драмы «Ка...
42182,1437024,Концерт «Очей Толи – 70»,https://spa.profticket.ru/customer/72/shows/14...,NaN,7153.0,АУК УР «Концертное объединение «Удмуртская гос...
18738,1270125,Спектакль «Отцы и сыновья»,https://www.mayakovsky.ru/performance/ottsy-i-...,NaN,7507.0,ГБУК Г. Москвы «Московский академический театр...

In [232]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47856 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47856 non-null  int64
 1   entity.name                   47220 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47220 non-null  float64
 5   entity.organization.name      47220 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [233]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021[events_pushka_accepted_30122021[
    'entity.saleLink'].notna() == True]

In [234]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47218 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47218 non-null  int64
 1   entity.name                   47218 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47218 non-null  float64
 5   entity.organization.name      47218 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ MB

In [235]:
events_pushka_accepted_30122021['session_identity'] = events_pushka_accepted_30122021['entity.name'
                                                                                     ].apply(lambda x:
                                                                                            x.split()[0].strip())

In [236]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47218 entries, 0 to 47855
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47218 non-null  int64
 1   entity.name                   47218 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47218 non-null  float64
 5   entity.organization.name      47218 non-null  object
 6   session_identity              47218 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.9+ MB

In [237]:
events_pushka_accepted_30122021.sample(3)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name,session_identity
25166,1296291,Экскурсия «Ночь в музее»,http://tickets-pc.ugramuseum.ru/ru/tickets/#/e...,NaN,2380.0,БУ «Музей Природы и Человека»,Экскурсия
28431,1316243,Спектакль «Королева Гвендолин»,https://nsk.kassy.ru/events/detskie/2-33319/,NaN,8504.0,Новосибирский городской драматический театр по...,Спектакль
29794,1325278,Мастер-класс «Магия слайма»,https://www.mos.ru/afisha/event/145150257/,NaN,6863.0,ГБУК г. Москвы «Культурный центр «Яковлевское»,Мастер-класс

In [238]:
events_pushka_accepted_30122021['session_identity'].value_counts()[100:]

Молодежная         15
Интерактивные      15
Новогоднее         15
Викторина          14
Пешая              14
                   ..
XVII                1
Юбилейное           1
Арт-кафе            1
Культурная          1
Оперетта-мюзикл     1
Name: session_identity, Length: 717, dtype: int64

In [239]:
events_links = events_pushka_accepted_30122021['entity.saleLink'].unique()

In [240]:
click_links = click['url'].unique()

In [241]:
equal_links = []

for i in click_links:
    for j in events_links:
        if i == j:
            equal_links.append(i)

In [242]:
len(equal_links)

19572

In [243]:
click['url'].nunique()

19924

In [244]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021.rename(columns= {'entity.saleLink': 'url',
                                                                                  'entity._id': 'session_id',
                                                                                  'entity.name': 'session_name',
                                                                                  'entity.additionalSaleLinks.0': 'additional_url',
                                                                                  'entity.organization._id': 'organization_id',
                                                                                  'entity.organization.name': 'organization_name'})

In [245]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021.astype({"organization_id": "object",
                                                                         'session_id': 'object'})

In [246]:
cliks_add = pd.merge(click, events_pushka_accepted_30122021, how = 'left', on = 'url')

In [247]:
cliks_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5747390 entries, 0 to 5747389
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   create_time         object
 1   create_date         object
 2   user_phone_details  object
 3   buyer_mobile_phone  object
 4   user_id             object
 5   url                 object
 6   session_id          object
 7   session_name        object
 8   additional_url      object
 9   organization_id     object
 10  organization_name   object
 11  session_identity    object
dtypes: object(12)
memory usage: 570.0+ MB

In [248]:
#cliks_add.to_csv(path + 'cliks_add.csv', sep=';', index=False)

In [249]:
organizations = pd.read_csv(path2 + 'organizations.csv', sep = ';', error_bad_lines=False)

In [250]:
organizations = organizations[organizations['ИНН'].notna()]

In [251]:
organizations['Org_region_number'] = organizations['ИНН'].apply(lambda x:
                                                               int(str(x)[:2]) 
                                                                if len(str(x)) == 12
                                                               else int(str(x)[:1]))

In [252]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3260 entries, 0 to 3269
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3260 non-null   int64
 1   Учреждение         3260 non-null   object
 2   Адрес              3260 non-null   object
 3   ИНН                3260 non-null   float64
 4   Категория          3222 non-null   object
 5   Org_region_number  3260 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 178.3+ KB

In [253]:
organizations = organizations.rename(
    columns= {'ID': 'organization_id','Категория': 'org_category'})

In [254]:
cliks_add = pd.merge(cliks_add, organizations[['organization_id', 'Org_region_number', 'org_category']],
                     how = 'left', on = 'organization_id')

In [255]:
cliks_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5747390 entries, 0 to 5747389
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   create_time         object
 1   create_date         object
 2   user_phone_details  object
 3   buyer_mobile_phone  object
 4   user_id             object
 5   url                 object
 6   session_id          object
 7   session_name        object
 8   additional_url      object
 9   organization_id     object
 10  organization_name   object
 11  session_identity    object
 12  Org_region_number   float64
 13  org_category        object
dtypes: float64(1), object(13)
memory usage: 657.7+ MB

In [256]:
cliks_add.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,session_id,session_name,additional_url,organization_id,organization_name,session_identity,Org_region_number,org_category
2986966,2021-11-23 22:17:23,2021-11-23,"iOS, iOS 15.1",7cdaabb276621f9322dcd755cd43766e,03c0d7106825765147249788ea4ca9a7,https://bdt.spb.ru/спектакли/крещенные-крестами/,1386582,Спектакль «Крещенные крестами»,NaN,4934,ФГБУК «Российский государственный академически...,Спектакль,78.0,Театры
4315887,2021-11-19 07:25:58,2021-11-19,"iOS, iOS 14.8.1",fe6076a34023f57de0a95c3c8f7e2694,854e9dd8b89a93b3c393e3d94e6a7d9e,http://teatrunikitskihvorot.ru/tickets/,39934,Спектакль «Доктор Чехов»,NaN,6775,ГБУК г. Москвы «Московский театр «У Никитских ...,Спектакль,77.0,Театры
2056520,2021-11-12 11:10:18,2021-11-12,"Android, 10 (SDK 29)",42da8920f458120504bf7fd4f4b0cdbb,217229b9ddd183e5ab8372c2714c0bdc,http://globus-nsk.ru/spektakli/mamochki/,1294624,Спектакль «Мамочки»,NaN,8507,ГАУК «Новосибирский академический молодежный т...,Спектакль,54.0,NaN

In [257]:
#cliks_add.to_csv(path + 'cliks_add.csv', sep=';', index=False)

In [258]:
users = pd.read_csv(path + 'users_full.csv', sep=';', error_bad_lines=False)

In [259]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879681 entries, 0 to 2879680
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         int64
 1   user_id             object
 2   user_birth          object
 3   create_date.1       object
 4   user_phone_details  object
 5   buyer_mobile_phone  object
 6   region              object
 7   age                 int64
 8   user_region         float64
dtypes: float64(1), int64(2), object(6)
memory usage: 197.7+ MB

In [260]:
cliks_add = pd.merge(cliks_add, users[['user_id', 'age', 'user_region']],
                     how = 'left', on = 'user_id')

In [261]:
cliks_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5747390 entries, 0 to 5747389
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   create_time         object
 1   create_date         object
 2   user_phone_details  object
 3   buyer_mobile_phone  object
 4   user_id             object
 5   url                 object
 6   session_id          object
 7   session_name        object
 8   additional_url      object
 9   organization_id     object
 10  organization_name   object
 11  session_identity    object
 12  Org_region_number   float64
 13  org_category        object
 14  age                 float64
 15  user_region         float64
dtypes: float64(3), object(13)
memory usage: 745.4+ MB

In [262]:
#cliks_add.to_csv(path + 'cliks_add.csv', sep=';', index=False)

In [263]:
cliks_add.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,session_id,session_name,additional_url,organization_id,organization_name,session_identity,Org_region_number,org_category,age,user_region
3201182,2021-11-27 17:44:16,2021-11-27,"iOS, iOS 15.0.2",0007766197a3930c830bab3cfdbd8874,82d698a966f971cc97d177c7bf8b78c9,http://teatr15.ru/repertoire/#event/991326,1387940,Спектакль «За двумя зайцами»,NaN,8678,ГБУК «Академический русский театр имени Е. Вах...,Спектакль,15.0,Театры,21.0,15.0
2169302,2021-11-17 19:05:37,2021-11-17,"iOS, iOS 14.7.1",f85a232e7785af5ef9b8b3aaef9c8c08,f740f81bc46ec5493b383409a985192a,https://ticket.bolshoi.ru/login,1477662,Опера «История Кая и Герды»,NaN,5472,ФГБУК «Государственный академический Большой т...,Опера,77.0,Театры,20.0,NaN
1274571,2021-11-16 15:33:52,2021-11-16,"iOS, iOS 14.8.1",99233f1e3ea5928b6664901abbabfc7c,960556f20fa1bf8de674f7beea0dd0e4,https://penza.kassy.ru/events/koncerty-i-shou/...,1367675,Шоу «Братья Сафроновы»,https://pnz.kassir.ru/koncert/bratya-safronovy...,5614,ГАУК ПО «Пензаконцерт»,Шоу,58.0,Концертные площадки,22.0,58.0

In [264]:
cliks_add.head()

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,session_id,session_name,additional_url,organization_id,organization_name,session_identity,Org_region_number,org_category,age,user_region
0,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-28 21:32:53,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,NaN,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0
2,2021-11-28 21:32:53,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,NaN,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0
3,2021-11-28 21:41:52,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,NaN,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0
4,2021-11-28 21:41:52,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,NaN,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0

In [265]:
cliks_add.drop(['additional_url'],axis = 1, inplace = True)

In [266]:
cliks_add['user_phone_details_id'] = cliks_add['user_phone_details'].apply(lambda x: 
                                                                          re.sub('(\..*)', '', x.replace('iOS ', '')) 
                                                                           if 'iOS' in x 
                                                                           else re.sub('\ \(.*', '', x))

In [267]:
cliks_add['user_phone_details_id'] = cliks_add['user_phone_details_id'].apply(lambda x: 
                                                                          re.sub('(\..*)', '', x) 
                                                                           if 'Android' in x
                                                                          else x)

In [268]:
cliks_add['user_phone_details_id'].value_counts()

Android, 10           1384596
Android, 11           1366832
iOS, 15               1094266
iOS, 14                991125
Android, 9             534692
Android, 8             206593
Android, 7              73011
iOS, 13                 56178
Android, 6              18385
iOS, 12                 16641
Android, 12              4828
iOS, 11                   220
Android, 5                 22
user_phone_details          1
Name: user_phone_details_id, dtype: int64

In [269]:
cliks_add.drop(labels = [0],axis = 0, inplace = True)

In [270]:
cliks_add.head()

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,session_id,session_name,organization_id,organization_name,session_identity,Org_region_number,org_category,age,user_region,user_phone_details_id
1,2021-11-28 21:32:53,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0,"Android, 10"
2,2021-11-28 21:32:53,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0,"Android, 10"
3,2021-11-28 21:41:52,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0,"Android, 10"
4,2021-11-28 21:41:52,2021-11-28,"Android, 10 (SDK 29)",ce730a5e7bb6372aad126e934320b75c,08014dcd786881f349938c9255e9df36,https://theatreofnations.ru/performances/shved...,717865,Спектакль «Шведская спичка»,7577,ФГБУК «Государственный театр наций»,Спектакль,77.0,Театры,21.0,21.0,"Android, 10"
5,2021-11-28 21:25:13,2021-11-28,"iOS, iOS 15.0.2",a1f60fad21d72c6dcb5fd7fe84fb3ad7,b2560eaa8bc23dbba5f24aa5075b89ed,https://tickets.hermitagemuseum.org/event/7E06...,1309020,Экспозиции главного музейного комплекса Эрмитажа,2217,ФГБУК «Государственный Эрмитаж»,Экспозиции,78.0,Музеи и галереи,22.0,77.0,"iOS, 15"

In [271]:
cliks_add['user_phone_details_id'].value_counts().index[0].replace('Android,', '1').split(
)[0] + cliks_add['user_phone_details_id'].value_counts().index[0].split()[1]

'110'

In [272]:
cliks_add['user_phone_details_id_2'] = cliks_add['user_phone_details_id'].apply(lambda x: 
                                                                          x.replace('iOS,', '2').split()[0]+x.split()[1]
                                                                           if 'iOS' in x 
                                                                           else x.replace('Android,', '1').split()[0]+x.split()[1])

In [273]:
cliks_add['user_phone_details_id_2'].value_counts()

110    1384596
111    1366832
215    1094266
214     991125
19      534692
18      206593
17       73011
213      56178
16       18385
212      16641
112       4828
211        220
15          22
Name: user_phone_details_id_2, dtype: int64

In [274]:
#cliks_add.to_csv(path + 'cliks_add.csv', sep=';', index=False)

In [275]:
cliks_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5747389 entries, 1 to 5747389
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   create_time              object
 1   create_date              object
 2   user_phone_details       object
 3   buyer_mobile_phone       object
 4   user_id                  object
 5   url                      object
 6   session_id               object
 7   session_name             object
 8   organization_id          object
 9   organization_name        object
 10  session_identity         object
 11  Org_region_number        float64
 12  org_category             object
 13  age                      float64
 14  user_region              float64
 15  user_phone_details_id    object
 16  user_phone_details_id_2  object
dtypes: float64(3), object(14)
memory usage: 789.3+ MB

In [276]:
cliks_add.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,session_id,session_name,organization_id,organization_name,session_identity,Org_region_number,org_category,age,user_region,user_phone_details_id,user_phone_details_id_2
4947411,2021-11-10 09:40:40,2021-11-10,"iOS, iOS 15.1",9d3a95baed36cd2dd5ab7a9593edc97d,3b005e750cf05548b134d9e02e935a55,https://2011.bolshoi.ru/timetable/,1354582,Опера «Саломея»,5472,ФГБУК «Государственный академический Большой т...,Опера,77.0,Театры,21.0,77.0,"iOS, 15",215
5196851,2021-11-12 15:10:11,2021-11-12,"iOS, iOS 15.0.2",2021e6e8bdb2b84ad3929221123088d3,bc0cb4d6e0f315d2bb67413efea2a32f,https://tickets.shm.ru/event/94BA8758A7C7C63BA...,1314995,Экспозиция Музея Отечественной войны 1812 года,2096,ФГБУК «Государственный исторический музей»,Экспозиция,77.0,Музеи и галереи,18.0,NaN,"iOS, 15",215
395774,2021-11-20 21:33:26,2021-11-20,"iOS, iOS 14.8",f85d89f96a0fac34a5a7d436e341266c,8b6a3078f3c7a18f11831b8d488904c6,http://teatrunikitskihvorot.ru/tickets/,1037113,Спектакль «Сон смешного человека»,6775,ГБУК г. Москвы «Московский театр «У Никитских ...,Спектакль,77.0,Театры,18.0,NaN,"iOS, 14",214