In [1]:
import pandas as pd
import numpy as np

In [8]:
dir = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/'

In [11]:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open(dir + "click.txt", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [35]:
import csv

with open(dir + "click.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'click.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_time', 'create_date', 'user_phone_details', 'buyer_mobile_phone', 'user_id', 'url'))
        writer.writerows(lines)

In [36]:
detector = UniversalDetector()
with open(dir + "click.csv", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [54]:
click = pd.read_csv(dir + 'click.csv', sep=';', error_bad_lines=False)

b'Skipping line 862995: expected 6 fields, saw 7\nSkipping line 862997: expected 6 fields, saw 7\n'
b'Skipping line 2142333: expected 6 fields, saw 7\nSkipping line 2142335: expected 6 fields, saw 7\n'
b'Skipping line 2844195: expected 6 fields, saw 7\n'
b'Skipping line 3074159: expected 6 fields, saw 7\n'

In [55]:
click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596724 entries, 0 to 1596723
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   create_time         1596724 non-null  object
 1   create_date         1596724 non-null  object
 2   user_phone_details  1596724 non-null  object
 3   buyer_mobile_phone  1596724 non-null  object
 4   user_id             1596724 non-null  object
 5   url                 1596724 non-null  object
dtypes: object(6)
memory usage: 73.1+ MB

In [57]:
click.sample(7)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url
1547123,2021-11-17 08:59:25,2021-11-17,"Android, 10 (SDK 29)",eda3d6e23342983cd184553f365883bd,9a84e1d1ef42dcb01d9f023f60547ad0,https://vmuzey.com/event/ekspozicii-gosudarstv...
1423463,2021-11-30 08:28:01,2021-11-30,"iOS, iOS 14.8",f4c685f8d40e2237fe27ad51f63b45c5,2a0d3ceda5bc3a767b9c46360973e844,https://сеспель.рф/мероприятия/любовь-и-ненави...
1218842,2021-11-24 13:28:08,2021-11-24,"Android, 9 (SDK 28)",c0868c34a2b3f9bb1ad4dd0465f47734,f6bddce72b872d2e5fdb925102b4d600,http://widget.smart-bilet.ru/sites/beta/event?...
840333,2021-11-23 08:13:27,2021-11-23,"Android, 7.0 (SDK 24)",f68b8af507e337a6a7b98226ccc5ec1f,85a93bbf6b5529beb3eb5dcad58c4690,https://tver.kassy.ru/widget/40-1/event/40-691...
1250206,2021-11-24 15:51:19,2021-11-24,"Android, 10 (SDK 29)",d737214e9df9569c5476503e6951ba34,ee8d032abfd0d9684c80e7d4cd7bc8c8,https://rnd.kassir.ru/koncert/rostovskaya-na-d...
415725,2021-11-03 05:57:46,2021-11-03,"Android, 10 (SDK 29)",5fc77b558cbcea623b3d77e15428504a,608d3bf9f09a8307ed1b65e10a4fa4a5,https://ekb.kassir.ru/drugie/tanets-strasti-1#...
882927,2021-11-25 13:30:01,2021-11-25,"Android, 10 (SDK 29)",37fb884c027d9336e0b684d039ec0e1a,65467765d1f73798cd143f7cf64325d6,https://www.tretyakovgallery.ru/tickets#/buy/e...

In [58]:
with open(dir + "region.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'region.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('user_id', 'region'))
        writer.writerows(lines)

In [59]:
region = pd.read_csv(dir + 'region.csv', sep=';', error_bad_lines=False)

In [60]:
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231053 entries, 0 to 2231052
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   region   object
dtypes: object(2)
memory usage: 34.0+ MB

In [61]:
region.sample(7)

                                  user_id                   region
1528862  51f05e5cb7f6cf20ab7df32eaaf518f5  Республика Башкортостан
2174530  f6f8f5616e24e81b0215f87c12d86425       Тамбовская область
372851   90347b325340320bfb725a55f8a8926f           Алтайский край
1465743  376266930f1e8b0c1c6be9de1045a025     Чувашская Республика
1366835  15271c8517c3e190b2936684beb38b7a       Ивановская область
142288   9b8691180caff55c7277b7e8ecef9b16      Республика Дагестан
1185470  bbaa8850e855cbf74bd86a827b8df084       Московская область

In [62]:
with open(dir + "uniq.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'uniq.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_date', 'user_phone_details', 'buyer_mobile_phone', 'user_id'))
        writer.writerows(lines)

In [63]:
uniq = pd.read_csv(dir + 'uniq.csv', sep=';', error_bad_lines=False)

In [64]:
uniq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686972 entries, 0 to 2686971
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_phone_details  object
 2   buyer_mobile_phone  object
 3   user_id             object
dtypes: object(4)
memory usage: 82.0+ MB

In [65]:
uniq.sample(7)

,create_date,user_phone_details,buyer_mobile_phone,user_id
118941,2021-11-02,"iOS, iOS 15.0.2",10c357580875966bcc24af88908a7978,b942e9d68f3f0ebc436cab82866d13b8
2636793,2021-11-30,"Android, 8.1.0 (SDK 27)",8348953a838fecb4e19390a50bb74c35,8ec489ce30fa20eb150ba9eb88817c58
505278,2021-11-09,"Android, 10 (SDK 29)",a95cd4b5bfeb9b13c81bed9f0e9cbed2,c32b380a8d1c4ac20560977ae2367c08
1629746,2021-11-20,"iOS, iOS 15.0.2",0b40195eeb106babaefa89478fa54680,662c6d3c8b13083a0ee9de1c768ed1d5
2459403,2021-11-29,"Android, 10 (SDK 29)",dce789dce9b3cdd89550922d76b66691,b7f987f83f57480560efd8d4ccb52db8
2229704,2021-11-26,"Android, 11 (SDK 30)",f90c3853d1b59a694276ae8a466a9b6f,513c72aa14d9cfc863a1d2139a4223f5
1946509,2021-11-23,"iOS, iOS 15.1",63348ec80df3d07ff9e1df8f9651ffc7,c07d6c1c068c69f178ca903cd55746fa

In [66]:
with open(dir + "users.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'users.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_date', 'user_id', 'user_birth'))
        writer.writerows(lines)

In [67]:
users = pd.read_csv(dir + 'users.csv', sep=';', error_bad_lines=False)

C:\Users\Rusla\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [68]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879682 entries, 0 to 2879681
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   create_date  object
 1   user_id      object
 2   user_birth   object
dtypes: object(3)
memory usage: 65.9+ MB

In [69]:
users.sample(7)

        create_date                           user_id  user_birth
2413614  1630576606  77f7cc6221dab763bd39ba3c162b6379  2002-10-24
1683189  1635330259  d80dec57acb7b8b41b693442fc7fb952  2003-09-17
1781485  1630549110  ab469e40b313571053240b93a926d7d5  2000-12-19
1802072  1630910057  4e13ceafa54505358f2d872c0ac06305  2002-04-05
2526854  1630609270  54d4aa9a3e3de54d40c91c6e4e5c00ef  2007-02-25
1548632  1634390607  d15711d47e9da7449a487c1203543f5f  2001-04-30
2044021  1630674730  4ba5a1e132bec8b2915b0070d7fd9f8d  2000-02-10

In [71]:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open(dir + "tickets2.json", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [72]:
import json 
expl = [json.loads(line) for line in open(dir + 'tickets2.json', 'r', encoding='utf-8', errors = 'ignore')]

In [73]:
tickets = pd.DataFrame(expl)

In [74]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854291 entries, 0 to 854290
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   payment_date             854291 non-null  int64
 1   comment                  854291 non-null  object
 2   session_event_id         854291 non-null  object
 3   session_date             854291 non-null  int64
 4   session_params           854291 non-null  object
 5   owner                    854291 non-null  object
 6   refund_date              25115 non-null   float64
 7   buyer_mobile_phone       854291 non-null  object
 8   refund_reason            25115 non-null   object
 9   payment_amount           854291 non-null  object
 10  visitor_first_name       854291 non-null  object
 11  refund_ticket_price      24407 non-null   object
 12  create_date              854291 non-null  int64
 13  status                   854291 non-null  object
 14  payment_ticket_price     854291 non-null  object
 15  session_organization_id  854291 non-null  object
 16  visit_date               393830 non-null  float64
dtypes: float64(2), int64(3), object(12)
memory usage: 110.8+ MB

In [75]:
tickets.sample(7)

,payment_date,comment,session_event_id,session_date,session_params,owner,refund_date,buyer_mobile_phone,refund_reason,payment_amount,visitor_first_name,refund_ticket_price,create_date,status,payment_ticket_price,session_organization_id,visit_date
640719,1637784676,,1309020,1638020700,,7810099978,NaN,1a38c208e9a5b7ea52a039f67684187e,None,300,,None,1637784692614660917,visited,300,2217,1.638022e+09
350836,1637220671,,1408019,1638190800,"Основная сцена, Партер, Ряд 18 Место 20",7453098727,NaN,f017b03ca912b53a3e35bb9aa8dbfdf6,None,2100.00,А,None,1637220752219364875,active,2100.00,28940,NaN
771013,1637953921000,,1450969,1638025200000,Новгородский академический театр драмы им. Ф. ...,9705121040,NaN,f06be04f3c307cb7bf74e426e9b0483f,None,RUB 416.00,Ольга,None,1637953964896346334,visited,RUB 400.00,,1.638024e+12
506321,1635230733,,1240642,1638273600,,5406014684,NaN,92e7c75dfdd3feaf333cc1a08dcac26b,None,1000,,None,1635231031397106177,visited,1000,5295,1.638272e+09
494229,1637223691,,1245646,1632762000,,7814779935,NaN,3bc11d0a6529428c6b8a9b05253870cc,None,200.00,Дарья,None,1637223692354722493,visited,,4083,1.637312e+09
717219,1638025765,,3765,1638027000,"Третьяковская Галерея, Лаврушинский пер., 10, ...",7714836675,NaN,fe7dbb04c5663a8c3697f8ab14113313,None,500,,None,1638027084995221426,visited,500,1860,1.638027e+09
552473,1632593978,,1247482,1636626600,"сектор:Партер,ряд:9,место:8",7720312951,NaN,da9a07eb20fc6227448145812019597b,None,298,,None,1632593978873436272,visited,350,9471,1.636626e+09

In [76]:
tickets['status'].value_counts()

active      435719
visited     393532
refunded     25040
Name: status, dtype: int64