In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [4]:
dir = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/'

In [69]:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open(dir + "click.txt", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [70]:
import csv

with open(dir + "click.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'click.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_time', 'create_date', 'user_phone_details', 'buyer_mobile_phone', 'user_id', 'url'))
        writer.writerows(lines)

In [71]:
detector = UniversalDetector()
with open(dir + "click.csv", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [72]:
click = pd.read_csv(dir + 'click.csv', sep=';', error_bad_lines=False)

b'Skipping line 862995: expected 6 fields, saw 7\nSkipping line 862997: expected 6 fields, saw 7\n'
b'Skipping line 2142333: expected 6 fields, saw 7\nSkipping line 2142335: expected 6 fields, saw 7\n'
b'Skipping line 2844195: expected 6 fields, saw 7\n'
b'Skipping line 3074159: expected 6 fields, saw 7\n'

In [73]:
click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596724 entries, 0 to 1596723
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   create_time         1596724 non-null  object
 1   create_date         1596724 non-null  object
 2   user_phone_details  1596724 non-null  object
 3   buyer_mobile_phone  1596724 non-null  object
 4   user_id             1596724 non-null  object
 5   url                 1596724 non-null  object
dtypes: object(6)
memory usage: 73.1+ MB

In [74]:
click.sample(7)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url
1168787,2021-11-15 07:43:48,2021-11-15,"Android, 10 (SDK 29)",25b4289941e236388b9094a091edd895,1c0c55adc3a8cc5767410f5d8f5b2101,https://quicktickets.ru/prokopevsk-dramteatr/s373
1068186,2021-11-15 11:22:06,2021-11-15,"Android, 9 (SDK 28)",f2d9e3059929bc79170b08b45fcf7c1e,64fccca2664b30d29d53241dfd4433b3,https://peterburgconcert.ru/buy?back=/afisha/b...
1457255,2021-11-13 18:22:56,2021-11-13,"Android, 10 (SDK 29)",44518c7d6f6cd7595938b39f1b11e637,15298295196eb59e56e2d9a85b79fed2,https://quicktickets.ru/severodvinsk-ntc-zvezd...
877365,2021-11-23 12:45:32,2021-11-23,"iOS, iOS 14.8.1",2a1c50de0d2769d51aeab4b26c8bbd42,cd93d41ec8d8d0cf29417aa5fd9fd915,http://operann.ru/lebedinoe-ozero-3.html
767911,2021-11-06 07:51:58,2021-11-06,"Android, 11 (SDK 30)",2008c2582204e28f6d2743a682f064f2,b88d5fe0fc4bf863c0f6da1609d2693b,https://vmuzey.com/event/alanika-ekskursii-v-v...
774193,2021-11-13 08:53:40,2021-11-13,"Android, 11 (SDK 30)",ecfd0dfd70f2d1b9553664bc68c4e3dc,ec72b2c472d3ee6f7a1d2d5ea86716d7,https://smr.kassir.ru/frame/action/62992?key=7...
6746,2021-11-29 17:46:53,2021-11-29,"Android, 10 (SDK 29)",d91cd452af4f15064b5983fc05201618,442b5541e45279f940208735a4106c7b,http://kamerata.ru/afisha/

In [75]:
with open(dir + "region.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'region.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('user_id', 'region'))
        writer.writerows(lines)

In [76]:
region = pd.read_csv(dir + 'region.csv', sep=';', error_bad_lines=False)

In [77]:
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231053 entries, 0 to 2231052
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   region   object
dtypes: object(2)
memory usage: 34.0+ MB

In [78]:
region.sample(7)

                                  user_id                    region
1106700  83e180956860e83f56b0a849212ddb28      Оренбургская область
1553239  6f28ebb37049fb12e7b2f01b6997da45            Омская область
1562955  337b57105a367e67190bfa3337302c8b  Республика Саха (Якутия)
1327030  e0b96e6be8e6d3b5dce52df27bca7c90     Новосибирская область
2215234  0f869773365c3b22fd3a7d752f6ddb5f           Санкт-Петербург
2071233  b185af3d3fecde9ad6bc887b65356b8c         Калужская область
1341224  aa0e67d01d50c22629ef70cee8d0861e             Пермский край

In [79]:
with open(dir + "uniq.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'uniq.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_date', 'user_phone_details', 'buyer_mobile_phone', 'user_id'))
        writer.writerows(lines)

In [80]:
uniq = pd.read_csv(dir + 'uniq.csv', sep=';', error_bad_lines=False)

In [81]:
uniq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686972 entries, 0 to 2686971
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_phone_details  object
 2   buyer_mobile_phone  object
 3   user_id             object
dtypes: object(4)
memory usage: 82.0+ MB

In [82]:
uniq.sample(7)

,create_date,user_phone_details,buyer_mobile_phone,user_id
1318890,2021-11-17,"iOS, iOS 15.1",b10416477f67ba5eec19e1f8f86ef3fb,7b71c4d4163195e2836e13a350e8d86a
2462247,2021-11-29,"Android, 10 (SDK 29)",91feb8c03b582620a1c2cb697f6b1035,835464a222864eb5faab2de7bd269a9b
925867,2021-11-14,"Android, 11 (SDK 30)",1fd4002f8bc3c3d41ee2d7b6ca9db0a7,35cc9586f3ac16ff367430cccdc5f692
2142889,2021-11-25,"iOS, iOS 14.3",bb22a61501bad646a934912831f8eb3b,976a675295f12518bb4226cba7c6c68f
1001265,2021-11-15,"Android, 10 (SDK 29)",2f6b6b79a2c40ecbfae4a8b39c9a472d,b9629652d0ecedf16b0ed1085b49831b
97356,2021-11-02,"Android, 9 (SDK 28)",e2b1af01d1f91c3e9532a0e0bb96a617,aa6863414692a99eaae7c50504e36e70
2677662,2021-11-30,"iOS, iOS 15.1",4b316aaf923d20589fe0c242de719a70,7b09c33a792b2bee53e24ab19ee682f2

In [83]:
uniq['user_id'].value_counts()

1cbed6055d45881134165cc76ea56e6a    34
07d7ff4b4d5f478f08173c2a4a35e8c7    30
9de95765cb4d8af4b6300d090827305b    30
7af7e30719696114254c5332eed085fe    30
f5f430d60174836946f4dd7ced9c9f6c    30
                                    ..
bb1803fab3c2c509e080b191059e957e     1
42c0eed41f43c9ba2d3bcafe6db80bc0     1
b412dca9f2a43f9a29e3a8c9cb83a276     1
50e50f4c466a9e39b8cf2fea0ae9f0fa     1
c3617d063df4c8a8e8d9700eca0b7eef     1
Name: user_id, Length: 1397732, dtype: int64

In [84]:
with open(dir + "users.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'users.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_date', 'user_id', 'user_birth'))
        writer.writerows(lines)

In [5]:
users = pd.read_csv(dir + 'users.csv', sep=';', error_bad_lines=False)

C:\Users\Rusla\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879682 entries, 0 to 2879681
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   create_date  object
 1   user_id      object
 2   user_birth   object
dtypes: object(3)
memory usage: 65.9+ MB

In [87]:
users.sample(7)

        create_date                           user_id  user_birth
343116   1633860649  ebfd56d6147b519c9267458923b70755  2004-10-12
2608552  1631887227  7feeef94cd029d3a4e2e83be91809ea9  2000-09-24
70568    1630662800  ac72eba6d1118084e1076d2d61c4ff70  2004-07-25
1990284  1632153291  ba7816c3922ce3bfe03aceda5af1a5c4  2004-12-27
1150881  1630517591  d05ca80900bd6c6d02b9111e55e2749d  2000-10-14
2189242  1631941391  2f84fe609ae5d5ad916fcdfe55262623  1999-09-04
2425     1630580838  12ff05e62e6340ab3c91694012bb6270  2006-03-29

In [88]:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open(dir + "tickets2.json", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [89]:
import json 
expl = [json.loads(line) for line in open(dir + 'tickets2.json', 'r', encoding='utf-8', errors = 'ignore')]

In [90]:
tickets = pd.DataFrame(expl)

In [91]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854291 entries, 0 to 854290
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   payment_date             854291 non-null  int64
 1   comment                  854291 non-null  object
 2   session_event_id         854291 non-null  object
 3   session_date             854291 non-null  int64
 4   session_params           854291 non-null  object
 5   owner                    854291 non-null  object
 6   refund_date              25115 non-null   float64
 7   buyer_mobile_phone       854291 non-null  object
 8   refund_reason            25115 non-null   object
 9   payment_amount           854291 non-null  object
 10  visitor_first_name       854291 non-null  object
 11  refund_ticket_price      24407 non-null   object
 12  create_date              854291 non-null  int64
 13  status                   854291 non-null  object
 14  payment_ticket_price     854291 non-null  object
 15  session_organization_id  854291 non-null  object
 16  visit_date               393830 non-null  float64
dtypes: float64(2), int64(3), object(12)
memory usage: 110.8+ MB

In [92]:
tickets.sample(7)

,payment_date,comment,session_event_id,session_date,session_params,owner,refund_date,buyer_mobile_phone,refund_reason,payment_amount,visitor_first_name,refund_ticket_price,create_date,status,payment_ticket_price,session_organization_id,visit_date
466329,1637748928,,1337955,1637838000,"Большой зал, Партер, 2 ряд, 11 место",7107520929,NaN,fa49efb136cb819c074b0651ef78c3d7,None,250.00,,None,1637749205537356801,active,250.00,10118,NaN
185142,1638150288,,1348639,1640509200,"Приморская сцена, Большой зал Сектор B Пар. р...",7812024600,NaN,dfe57272d1a39575dd30f9d03af25624,None,1100,Анна,None,1638150751319972806,visited,1100,5268,1.640508e+09
764719,1637115029,,1383737,1639216800,"ДК ""Алюминщик"", Партер, 4 ряд, 23 место",7107520929,NaN,dbfaa4022e82b15504a2eae5348d7d4f,None,400.00,,None,1637115616000709948,active,400.00,12652,NaN
528922,1637746159,,1349144,1639656000,"ДК ""Алюминщик"", Амфитеатр, 6 ряд, 32 место",7107520929,NaN,7b624d2f26b078febdd9e4cdf806e36c,None,2000.00,,None,1637746206661898492,visited,2000.00,12652,1.639654e+09
603689,1636652459,,1329670,1631566800,,7814779935,NaN,90c8e2ea0c0a53b41accc2860d54d6ff,None,70.00,Екатерина,None,1636652460054796579,visited,,4242,1.636972e+09
807985,20211026,,5878,20211026,,4205348928,NaN,9d071c6aedcccc1b11f0658eef35ef52,None,1,Валерия,None,1635228204386514493,visited,250,1,1.637496e+09
549845,1638259916,,708294,1643468400,"Основной зал, Партер, 1 ряд, 8 место",7107520929,NaN,0a705eb38bbc7abfc6d5c27cae036643,None,440.00,,None,1638260403416109025,active,440.00,6966,NaN

In [93]:
tickets['status'].value_counts()

active      435719
visited     393532
refunded     25040
Name: status, dtype: int64

In [94]:
dir2 = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/events/'

In [95]:
events = pd.read_csv(dir2 + 'events.csv', sep = ';', error_bad_lines=False)

In [96]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42154 entries, 0 to 42153
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       42154 non-null  int64
 1   Название события                         42154 non-null  object
 2   Организатор мероприятия                  42154 non-null  object
 3   Ссылка на покупку билета                 42151 non-null  object
 4   Дополнительная ссылка на покупку билета  3817 non-null   object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [97]:
events.sample(7)

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета
174,16132,Музыкальная сказка «Снежная королева»,АУ «Чувашский государственный театр оперы и ба...,https://www.opera21.ru/events/snejnaya-korolev...,https://www.opera21.ru/events/snejnaya-korolev...
16169,1314738,Спектакль «Кочерыжка»,БУК Омской области «Омский областной театр юны...,https://tuzomsk.ru/spectacle/kocheryzhka/,NaN
37801,1524052,Мастер-класс «Прекрасное внутри»,ГБУК г. Москвы «ТКС «Оптимист»,https://www.mos.ru/afisha/venues/59211/,NaN
6995,1244583,Спектакль «Старые дома»,БУК «Омский Государственный музыкальный театр»,https://www.muzteatr-omsk.ru/repertoire/musica...,NaN
11080,1272216,Мастер-класс «От макушки до пяточек»,ГАУК ТО «Тюменское музейно-просветительское об...,https://tmpo.tncloud.ru/event/CC5DDB731782686B...,NaN
33847,1489954,Лекция «Волшебный мир рыцарской литературы»,ГБУК КО «Калужская областная научная библиотек...,http://belinkaluga.ru/scientific-lectures/,NaN
37999,1526176,Обзорная экскурсия по городу Уреню,МБУК «Музейно-выставочный комплекс им. В. Ф. М...,https://vmuzey.com/event/obzornaya-ekskursiya-...,NaN

In [98]:
events[events.ID == 2217]

Empty DataFrame
Columns: [ID, Название события, Организатор мероприятия, Ссылка на покупку билета, Дополнительная ссылка на покупку билета]
Index: []

In [99]:
events_pushka_accepted_30122021 = pd.read_csv(dir2 + 'events_pushka_accepted_30122021.csv', sep = ','
                                              , error_bad_lines=False)

In [100]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47856 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47856 non-null  int64
 1   entity.name                   47220 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47220 non-null  float64
 5   entity.organization.name      47220 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [101]:
events_pushka_accepted_30122021.sample(7)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name
963,84578,Спектакль «Спасти камер-юнкера Пушкина»,https://nn.kassir.ru/teatr/kulturnoe-prostrans...,NaN,17661.0,ИП Алексей Александрович Филиппов
10348,1241950,Спектакль «Доходное место»,https://kemerovo.ticketland.ru/teatry/gauk-tea...,NaN,8627.0,ГАУК «Театр драмы Кузбасса имени А. В. Луначар...
21453,1281287,Спектакль «Новогодние сказки тысяча и одной ночи»,https://gubcks.ru,NaN,12787.0,МБУ «Централизованная клубная система города Г...
28083,1314418,Спектакль «Феромон»,https://afisha.yandex.ru/voronezh/plastical_pe...,https://kottheatre.ru/afisha/,21496.0,Театр «Кот»
18408,1268897,Концерт «Гостья из Северной Пальмиры»,https://quicktickets.ru/orel-filarmoniya/s398,NaN,5313.0,БУК ОО «Орловская государственная филармония»
1341,122150,"Спектакль «Правда – хорошо, а счастье лучше»",https://lk.zakaz.cloud/b/1/1071,https://lk.zakaz.cloud/b/1/1088,9134.0,МБУК «Театр «Самарская площадь»
32918,1344472,Спектакль «Маленький принц»,https://www.ccvnukovo.ru/events/58/?listim_ope...,NaN,6808.0,ГБУК г. Москвы «КЦ «Внуково»

In [102]:
events_pushka_accepted_30122021[events_pushka_accepted_30122021['entity.organization._id'] == 2217]

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name
27392,1309020,Экспозиции маршрута № 1 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27393,1309020,Экспозиции маршрута № 1 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27394,1309020,Посещение главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=1,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27395,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=1,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27396,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=175,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27397,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=175,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27398,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=175,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27399,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/event/7E06...,https://tickets.hermitagemuseum.org/ru/#id=1,2217.0,ФГБУК «Государственный Эрмитаж»
27402,1309046,Экспозиции маршрута № 2 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27403,1309046,Экспозиции маршрута № 2 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27404,1309046,Экспозиции маршрута № 2 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»

In [103]:
organizations = pd.read_csv(dir2 + 'organizations.csv', sep = ';', error_bad_lines=False)

In [104]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3270 non-null   int64
 1   Учреждение  3270 non-null   object
 2   Адрес       3270 non-null   object
 3   ИНН         3260 non-null   float64
 4   Категория   3232 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 127.9+ KB

In [105]:
organizations.sample(7)

,ID,Учреждение,Адрес,ИНН,Категория
2341,17129,МКУК «Юргинский библиотечно-музейный комплекс»,"Кемеровская обл, Юргинский р-н, д Талая, Моско...",4.230023e+09,Библиотеки
1698,9833,МБУК «МКДЦ»,"Новгородская обл, Парфинский р-н, рп Парфино, ...",5.312004e+09,Дворцы культуры и клубы
2670,23241,Белгородская региональная общественная организ...,"Белгородская обл, Белгородский р-н, Белгород, ...",3.123232e+09,Прочее
2183,14400,МУ «ЦКиТ «Романов - Борисоглебск»,"Ярославская обл, Тутаевский р-н, г Тутаев, ул ...",7.611011e+09,Прочее
2965,28506,ИП Колесникова Яна Валерьевна,"Орловская обл, г Орёл, пл Ленина, д 2",5.752006e+11,Прочее
2505,20167,МАУК «Дворец химиков»,"Вологодская обл, г Череповец, пр-кт Победы, д 100",3.528012e+09,Дворцы культуры и клубы
246,2228,Санкт-Петербургское государственное бюджетное ...,"г Санкт-Петербург, ул Ново-Александровская, д 23А",7.811332e+09,Музеи и галереи

In [295]:
users_full = pd.merge(users, uniq, on = ['user_id'], how='left')

In [296]:
users_full.columns = users_full.iloc[0]

In [297]:
users_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4105719 entries, 0 to 4105718
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_id             object
 2   user_birth          object
 3   create_date         object
 4   user_phone_details  object
 5   buyer_mobile_phone  object
dtypes: object(6)
memory usage: 219.3+ MB

In [298]:
users_full.head(5)

,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone
0,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone
1,1630578345,ee457fb8cd024e46452147d026e3ffc4,2003-08-14,2021-11-22,"iOS, iOS 14.5",6a4816fe848efbd8c8fb8e8760d7cbd1
2,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-02,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c
3,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-19,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c
4,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-25,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c

In [300]:
users_full = pd.merge(users_full, region, on = ['user_id'], how='left')

In [301]:
users_full.columns = users_full.iloc[0]

In [302]:
users_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4105719 entries, 0 to 4105718
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_id             object
 2   user_birth          object
 3   create_date         object
 4   user_phone_details  object
 5   buyer_mobile_phone  object
 6   region              object
dtypes: object(7)
memory usage: 250.6+ MB

In [303]:
users_full.head(5)

,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone,region
0,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone,region
1,1630578345,ee457fb8cd024e46452147d026e3ffc4,2003-08-14,2021-11-22,"iOS, iOS 14.5",6a4816fe848efbd8c8fb8e8760d7cbd1,Саратовская область
2,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-02,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c,Новосибирская область
3,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-19,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c,Новосибирская область
4,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-25,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c,Новосибирская область

In [304]:
users_full.drop(labels = [0],axis = 0, inplace = True)

In [305]:
users_full.head(5)

,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone,region
1,1630578345,ee457fb8cd024e46452147d026e3ffc4,2003-08-14,2021-11-22,"iOS, iOS 14.5",6a4816fe848efbd8c8fb8e8760d7cbd1,Саратовская область
2,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-02,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c,Новосибирская область
3,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-19,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c,Новосибирская область
4,1633168062,bb491c13ad78710345565c953cd82b7b,2000-03-06,2021-11-25,"Android, 11 (SDK 30)",527d5ae346fa42566f25ec418e6ece9c,Новосибирская область
5,1630653422,cb22ee56f531b5cebfa1455b2b425427,2000-12-14,NaN,NaN,NaN,Тюменская область

In [306]:
users_full.tail(5)

,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone,region
4105714,1631167220,26a4b5f81f6ba9532ff0a77a71fbf883,1998-10-20,NaN,NaN,NaN,Новосибирская область
4105715,1630599034,243838018dcd45fda3e15276f61dc49d,2003-04-08,NaN,NaN,NaN,Тульская область
4105716,1630761019,6850eaff8174fbff303c64fee8351649,2002-02-01,NaN,NaN,NaN,Тюменская область
4105717,1632063958,bb6c7d27ac4525857a5248a92d949410,2003-03-06,NaN,NaN,NaN,Ульяновская область
4105718,1634479102,73be1b2d0abb35e780c7567ac99e3e87,1999-10-30,NaN,NaN,NaN,Ростовская область

In [310]:
users_full['buyer_mobile_phone'].value_counts()

b776af931eb0a5975fc9fc4d661f23de    34
6d481d47dae79a9fbc024928c9cd792d    30
ec20a72baa7995517b85cd04638c4ab7    30
689326c0f54fca78367326e934b8e265    30
47e6a308b286de02382150e02f0e8d78    30
                                    ..
a034877f443f1e1b920e90bf0e6046e1     1
16c8f596540315b687f022ec294287fc     1
13364bd7e7549f04daa449370b64391a     1
ea1b20d9426e236618ebb534c81a8ddb     1
73c18d993b5f87cff00c058389a53e14     1
Name: buyer_mobile_phone, Length: 1211817, dtype: int64

In [312]:
users_full.drop_duplicates(subset='user_id', inplace = True)

In [314]:
users_full['user_birth'] = pd.to_datetime(users_full['user_birth'], yearfirst = True,
                                          infer_datetime_format = True)

In [315]:
users_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2879681 entries, 1 to 4105718
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_id             object
 2   user_birth          datetime64[ns]
 3   create_date         object
 4   user_phone_details  object
 5   buyer_mobile_phone  object
 6   region              object
dtypes: datetime64[ns](1), object(6)
memory usage: 175.8+ MB

In [316]:
users_full['age'] = users_full['user_birth'].apply(lambda x: int(round((datetime.now() - x).days / 365.2425, 0)))

In [317]:
users_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2879681 entries, 1 to 4105718
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_id             object
 2   user_birth          datetime64[ns]
 3   create_date         object
 4   user_phone_details  object
 5   buyer_mobile_phone  object
 6   region              object
 7   age                 int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 197.7+ MB

In [318]:
users_full.sample(7)

,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone,region,age
3531538,1631631459,e327e89993fa8862d40aba7cb5c955ab,2005-03-27,2021-11-25,"Android, 11 (SDK 30)",86202b6c53eab7662c18dd049ba425bd,Республика Башкортостан,17
1803777,1630821114,6bb7572f2d87e5f8c8aaa3df22585787,2003-08-30,NaN,NaN,NaN,Саратовская область,18
3930175,1637575765,ded4fd3703e2ad868dfed9fed44015c4,2006-06-19,2021-11-22,"Android, 10 (SDK 29)",e71f2541bf8e566b80c80f169b8887b1,NaN,16
431287,1630620387,423b5b4a47d130fde79ed2b38257a7e9,2003-05-12,NaN,NaN,NaN,Тамбовская область,19
2963543,1631070990,13ab3c07426d8c4d6a5b177f0b4badbb,2004-11-12,2021-11-13,"Android, 11 (SDK 30)",9246fadadc2b7b7f3934c51629d69f65,Новосибирская область,17
122090,1632336515,c5747cf9d87b78c43eab2c6e3e1c811a,2000-08-05,2021-11-27,"iOS, iOS 15.0.2",44b79876a456d067adb4dd0c0a70598f,Чеченская Республика,21
315422,1632915395,dd806176ac8f60ca37d42026fb0e2c66,2006-12-22,NaN,NaN,NaN,Республика Дагестан,15

In [319]:
users_full.tail(7)

,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone,region,age
4105712,1634896123,921754b42fe64a83d1add1e15ce68535,2006-03-11,NaN,NaN,NaN,NaN,16
4105713,1630611176,522d49a32ee4834ba9ce9690f29fcd3e,2002-01-16,NaN,NaN,NaN,Республика Башкортостан,20
4105714,1631167220,26a4b5f81f6ba9532ff0a77a71fbf883,1998-10-20,NaN,NaN,NaN,Новосибирская область,23
4105715,1630599034,243838018dcd45fda3e15276f61dc49d,2003-04-08,NaN,NaN,NaN,Тульская область,19
4105716,1630761019,6850eaff8174fbff303c64fee8351649,2002-02-01,NaN,NaN,NaN,Тюменская область,20
4105717,1632063958,bb6c7d27ac4525857a5248a92d949410,2003-03-06,NaN,NaN,NaN,Ульяновская область,19
4105718,1634479102,73be1b2d0abb35e780c7567ac99e3e87,1999-10-30,NaN,NaN,NaN,Ростовская область,22

In [320]:
df = pd.read_csv(dir + 'RegionRussia.csv')

In [321]:
df.sample(7)

         Наименование субъекта  Код ГИБДД
2   Чукотский автономный округ         87
31         Республика Мордовия         13
33             Республика Крым         82
79       Волгоградская область         34
62           Красноярский край         24
12             Томская область         70
50       Новосибирская область         54

In [322]:
region_list = df.set_index('Наименование субъекта').T.to_dict('records')

In [323]:
region_list[0]

{'Ярославская область': 76,
 'Ямало-Ненецкий автономный округ': 89,
 'Чукотский автономный округ': 87,
 'Чувашская Республика': 21,
 'Чеченская Республика': 95,
 'Челябинская область': 74,
 'Ханты-Мансийский автономный округ – Югра': 86,
 'Хабаровский край': 27,
 'Ульяновская область': 73,
 'Удмуртская Республика': 18,
 'Тюменская область': 72,
 'Тульская область': 71,
 'Томская область': 70,
 'Территории, находящиеся за пределами РФ и обслуживаемые Управлением режимных объектов МВД России, Байконур': 94,
 'Тверская область': 69,
 'Тамбовская область': 68,
 'Ставропольский край': 26,
 'Смоленская область': 67,
 'Севастополь': 92,
 'Свердловская область': 66,
 'Сахалинская область': 65,
 'Саратовская область': 64,
 'Санкт-Петербург': 78,
 'Самарская область': 63,
 'Рязанская область': 62,
 'Ростовская область': 61,
 'Республика Хакасия': 19,
 'Республика Тыва': 17,
 'Республика Татарстан': 16,
 'Республика Северная Осетия – Алания': 15,
 'Республика Саха (Якутия)': 14,
 'Республика Мордовия': 13,
 'Республика Марий Эл': 12,
 'Республика Крым': 82,
 'Республика Коми': 11,
 'Республика Карелия': 10,
 'Республика Калмыкия': 8,
 'Республика Ингушетия': 6,
 'Республика Дагестан': 5,
 'Республика Бурятия': 3,
 'Республика Башкортостан': 2,
 'Республика Алтай': 4,
 'Республика Адыгея': 1,
 'Псковская область': 60,
 'Приморский край': 25,
 'Пермский край': 59,
 'Пензенская область': 58,
 'Орловская область': 57,
 'Оренбургская область': 56,
 'Омская область': 55,
 'Новосибирская область': 54,
 'Новгородская область': 53,
 'Нижегородская область': 52,
 'Ненецкий автономный округ': 83,
 'Мурманская область': 51,
 'Московская область': 50,
 'Москва': 77,
 'Магаданская область': 49,
 'Липецкая область': 48,
 'Ленинградская область': 47,
 'Курская область': 46,
 'Курганская область': 45,
 'Красноярский край': 24,
 'Краснодарский край': 23,
 'Костромская область': 44,
 'Кировская область': 43,
 'Кемеровская область': 42,
 'Кемеровская область – Кузбасс': 42,
 'Карачаево-Черкесская Республика': 9,
 'Камчатский край': 41,
 'Калужская область': 40,
 'Калининградская область': 39,
 'Кабардино-Балкарская Республика': 7,
 'Иркутская область': 38,
 'Ивановская область': 37,
 'Забайкальский край': 75,
 'Еврейская автономная область': 79,
 'Воронежская область': 36,
 'Вологодская область': 35,
 'Волгоградская область': 34,
 'Владимирская область': 33,
 'Брянская область': 32,
 'Белгородская область': 31,
 'Астраханская область': 30,
 'Архангельская область': 29,
 'Амурская область': 28,
 'Алтайский край': 22,
 'Тестовый регион': 100}

In [324]:
users_full['Region_number'] = users_full['region'].map(region_list[0])

In [325]:
users_full.sample(7)

,create_date,user_id,user_birth,create_date,user_phone_details,buyer_mobile_phone,region,age,Region_number
3252942,1636473355,534a4201056ca3c51ed3ea131ac530f3,2007-02-06,2021-11-09,"Android, 11 (SDK 30)",8dcd1d3427acfd9efc1be7a9319ea40b,NaN,15,NaN
3993101,1638263665,61f84ba225665cb3af03fb4b5c746417,1999-08-25,2021-11-30,"Android, 8.1.0 (SDK 27)",1e5ed550d92ee09d34d9f395a150e2c4,NaN,22,NaN
1234043,1630609456,ff8c4fc9c23822018af063def5fa081a,2000-02-05,NaN,NaN,NaN,Астраханская область,22,30.0
551577,1634708924,33681a33e5551e526a9fbcf23937416e,2005-09-17,2021-11-01,"Android, 11 (SDK 30)",ec475cc0c1bfcf05b725797e4fa4433e,Республика Башкортостан,16,2.0
3787710,1635244268,bfd67401c14e848da8505eda1c959cb5,2005-08-06,2021-11-03,"iOS, iOS 14.7.1",7b2c3e5ac2719055d7bab04964a52544,NaN,16,NaN
1010041,1632898938,ba850851a38a7429ffc5e8eb5da87793,2001-05-30,NaN,NaN,NaN,Челябинская область,21,74.0
3855196,1631601373,fba527851aab5a006a6f6fb775bcfe0c,2004-05-03,NaN,NaN,NaN,Москва,18,77.0

In [326]:
users_full = users_full.astype({"age": "object", "Region_number": "object"})

In [327]:
users_full = users_full.rename(columns= {'Region_number': 'user_region'})

In [328]:
users_full.to_csv(dir + 'users_full.csv', sep=';', index=False)

In [ ]:
uniq_phone = uniq[['buyer_mobile_phone', 'user_id']]
uniq_phone_list = uniq_phone.set_index('user_id').T.to_dict('records')

C:\Users\Rusla\AppData\Local\Temp/ipykernel_16936/2383478954.py:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  uniq_phone_list = uniq_phone.set_index('user_id').T.to_dict('records')

In [7]:
users['user_id'].value_counts()

f81760d2eb79d5873a6f05d2e3bea693    1
eb39f78d2ce5ad6876d6c28075cfd667    1
e12ec4423f1920a7a8b9df5cadc6556b    1
a837ec4c952709f13ee01d9a5dca89e2    1
eed10f493828baaaa8459f24b9d620db    1
                                   ..
39552d1b7b249960e921c0dea3ec4e0e    1
0fc07c2af532961ba2cbccea11a3462e    1
e587f805c4158bb2f4f653895f4353c3    1
9bb46f3a7038c8e139e47c7208ae9942    1
0e0db088279c2ca0eb02ffa3085aefd1    1
Name: user_id, Length: 2879682, dtype: int64