In [1]:
import pandas as pd
import numpy as np

In [8]:
dir = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/'

In [11]:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open(dir + "click.txt", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [35]:
import csv

with open(dir + "click.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'click.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_time', 'create_date', 'user_phone_details', 'buyer_mobile_phone', 'user_id', 'url'))
        writer.writerows(lines)

In [36]:
detector = UniversalDetector()
with open(dir + "click.csv", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [54]:
click = pd.read_csv(dir + 'click.csv', sep=';', error_bad_lines=False)

b'Skipping line 862995: expected 6 fields, saw 7\nSkipping line 862997: expected 6 fields, saw 7\n'
b'Skipping line 2142333: expected 6 fields, saw 7\nSkipping line 2142335: expected 6 fields, saw 7\n'
b'Skipping line 2844195: expected 6 fields, saw 7\n'
b'Skipping line 3074159: expected 6 fields, saw 7\n'

In [55]:
click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596724 entries, 0 to 1596723
Data columns (total 6 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   create_time         1596724 non-null  object
 1   create_date         1596724 non-null  object
 2   user_phone_details  1596724 non-null  object
 3   buyer_mobile_phone  1596724 non-null  object
 4   user_id             1596724 non-null  object
 5   url                 1596724 non-null  object
dtypes: object(6)
memory usage: 73.1+ MB

In [57]:
click.sample(7)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url
1547123,2021-11-17 08:59:25,2021-11-17,"Android, 10 (SDK 29)",eda3d6e23342983cd184553f365883bd,9a84e1d1ef42dcb01d9f023f60547ad0,https://vmuzey.com/event/ekspozicii-gosudarstv...
1423463,2021-11-30 08:28:01,2021-11-30,"iOS, iOS 14.8",f4c685f8d40e2237fe27ad51f63b45c5,2a0d3ceda5bc3a767b9c46360973e844,https://сеспель.рф/мероприятия/любовь-и-ненави...
1218842,2021-11-24 13:28:08,2021-11-24,"Android, 9 (SDK 28)",c0868c34a2b3f9bb1ad4dd0465f47734,f6bddce72b872d2e5fdb925102b4d600,http://widget.smart-bilet.ru/sites/beta/event?...
840333,2021-11-23 08:13:27,2021-11-23,"Android, 7.0 (SDK 24)",f68b8af507e337a6a7b98226ccc5ec1f,85a93bbf6b5529beb3eb5dcad58c4690,https://tver.kassy.ru/widget/40-1/event/40-691...
1250206,2021-11-24 15:51:19,2021-11-24,"Android, 10 (SDK 29)",d737214e9df9569c5476503e6951ba34,ee8d032abfd0d9684c80e7d4cd7bc8c8,https://rnd.kassir.ru/koncert/rostovskaya-na-d...
415725,2021-11-03 05:57:46,2021-11-03,"Android, 10 (SDK 29)",5fc77b558cbcea623b3d77e15428504a,608d3bf9f09a8307ed1b65e10a4fa4a5,https://ekb.kassir.ru/drugie/tanets-strasti-1#...
882927,2021-11-25 13:30:01,2021-11-25,"Android, 10 (SDK 29)",37fb884c027d9336e0b684d039ec0e1a,65467765d1f73798cd143f7cf64325d6,https://www.tretyakovgallery.ru/tickets#/buy/e...

In [58]:
with open(dir + "region.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'region.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('user_id', 'region'))
        writer.writerows(lines)

In [59]:
region = pd.read_csv(dir + 'region.csv', sep=';', error_bad_lines=False)

In [60]:
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231053 entries, 0 to 2231052
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   region   object
dtypes: object(2)
memory usage: 34.0+ MB

In [61]:
region.sample(7)

                                  user_id                   region
1528862  51f05e5cb7f6cf20ab7df32eaaf518f5  Республика Башкортостан
2174530  f6f8f5616e24e81b0215f87c12d86425       Тамбовская область
372851   90347b325340320bfb725a55f8a8926f           Алтайский край
1465743  376266930f1e8b0c1c6be9de1045a025     Чувашская Республика
1366835  15271c8517c3e190b2936684beb38b7a       Ивановская область
142288   9b8691180caff55c7277b7e8ecef9b16      Республика Дагестан
1185470  bbaa8850e855cbf74bd86a827b8df084       Московская область

In [62]:
with open(dir + "uniq.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'uniq.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_date', 'user_phone_details', 'buyer_mobile_phone', 'user_id'))
        writer.writerows(lines)

In [63]:
uniq = pd.read_csv(dir + 'uniq.csv', sep=';', error_bad_lines=False)

In [64]:
uniq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686972 entries, 0 to 2686971
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_phone_details  object
 2   buyer_mobile_phone  object
 3   user_id             object
dtypes: object(4)
memory usage: 82.0+ MB

In [65]:
uniq.sample(7)

,create_date,user_phone_details,buyer_mobile_phone,user_id
118941,2021-11-02,"iOS, iOS 15.0.2",10c357580875966bcc24af88908a7978,b942e9d68f3f0ebc436cab82866d13b8
2636793,2021-11-30,"Android, 8.1.0 (SDK 27)",8348953a838fecb4e19390a50bb74c35,8ec489ce30fa20eb150ba9eb88817c58
505278,2021-11-09,"Android, 10 (SDK 29)",a95cd4b5bfeb9b13c81bed9f0e9cbed2,c32b380a8d1c4ac20560977ae2367c08
1629746,2021-11-20,"iOS, iOS 15.0.2",0b40195eeb106babaefa89478fa54680,662c6d3c8b13083a0ee9de1c768ed1d5
2459403,2021-11-29,"Android, 10 (SDK 29)",dce789dce9b3cdd89550922d76b66691,b7f987f83f57480560efd8d4ccb52db8
2229704,2021-11-26,"Android, 11 (SDK 30)",f90c3853d1b59a694276ae8a466a9b6f,513c72aa14d9cfc863a1d2139a4223f5
1946509,2021-11-23,"iOS, iOS 15.1",63348ec80df3d07ff9e1df8f9651ffc7,c07d6c1c068c69f178ca903cd55746fa

In [66]:
with open(dir + "users.txt", "r", newline='', encoding='utf-8', errors = 'ignore') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(";") for line in stripped if line)
    with open(dir + 'users.csv', 'w', encoding='utf-8', errors = 'ignore') as out_file:
        writer = csv.writer(out_file, delimiter = ';')
        writer.writerow(('create_date', 'user_id', 'user_birth'))
        writer.writerows(lines)

In [67]:
users = pd.read_csv(dir + 'users.csv', sep=';', error_bad_lines=False)

C:\Users\Rusla\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [68]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879682 entries, 0 to 2879681
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   create_date  object
 1   user_id      object
 2   user_birth   object
dtypes: object(3)
memory usage: 65.9+ MB

In [69]:
users.sample(7)

        create_date                           user_id  user_birth
2413614  1630576606  77f7cc6221dab763bd39ba3c162b6379  2002-10-24
1683189  1635330259  d80dec57acb7b8b41b693442fc7fb952  2003-09-17
1781485  1630549110  ab469e40b313571053240b93a926d7d5  2000-12-19
1802072  1630910057  4e13ceafa54505358f2d872c0ac06305  2002-04-05
2526854  1630609270  54d4aa9a3e3de54d40c91c6e4e5c00ef  2007-02-25
1548632  1634390607  d15711d47e9da7449a487c1203543f5f  2001-04-30
2044021  1630674730  4ba5a1e132bec8b2915b0070d7fd9f8d  2000-02-10

In [71]:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open(dir + "tickets2.json", 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [72]:
import json 
expl = [json.loads(line) for line in open(dir + 'tickets2.json', 'r', encoding='utf-8', errors = 'ignore')]

In [73]:
tickets = pd.DataFrame(expl)

In [74]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854291 entries, 0 to 854290
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   payment_date             854291 non-null  int64
 1   comment                  854291 non-null  object
 2   session_event_id         854291 non-null  object
 3   session_date             854291 non-null  int64
 4   session_params           854291 non-null  object
 5   owner                    854291 non-null  object
 6   refund_date              25115 non-null   float64
 7   buyer_mobile_phone       854291 non-null  object
 8   refund_reason            25115 non-null   object
 9   payment_amount           854291 non-null  object
 10  visitor_first_name       854291 non-null  object
 11  refund_ticket_price      24407 non-null   object
 12  create_date              854291 non-null  int64
 13  status                   854291 non-null  object
 14  payment_ticket_price     854291 non-null  object
 15  session_organization_id  854291 non-null  object
 16  visit_date               393830 non-null  float64
dtypes: float64(2), int64(3), object(12)
memory usage: 110.8+ MB

In [75]:
tickets.sample(7)

,payment_date,comment,session_event_id,session_date,session_params,owner,refund_date,buyer_mobile_phone,refund_reason,payment_amount,visitor_first_name,refund_ticket_price,create_date,status,payment_ticket_price,session_organization_id,visit_date
640719,1637784676,,1309020,1638020700,,7810099978,NaN,1a38c208e9a5b7ea52a039f67684187e,None,300,,None,1637784692614660917,visited,300,2217,1.638022e+09
350836,1637220671,,1408019,1638190800,"Основная сцена, Партер, Ряд 18 Место 20",7453098727,NaN,f017b03ca912b53a3e35bb9aa8dbfdf6,None,2100.00,А,None,1637220752219364875,active,2100.00,28940,NaN
771013,1637953921000,,1450969,1638025200000,Новгородский академический театр драмы им. Ф. ...,9705121040,NaN,f06be04f3c307cb7bf74e426e9b0483f,None,RUB 416.00,Ольга,None,1637953964896346334,visited,RUB 400.00,,1.638024e+12
506321,1635230733,,1240642,1638273600,,5406014684,NaN,92e7c75dfdd3feaf333cc1a08dcac26b,None,1000,,None,1635231031397106177,visited,1000,5295,1.638272e+09
494229,1637223691,,1245646,1632762000,,7814779935,NaN,3bc11d0a6529428c6b8a9b05253870cc,None,200.00,Дарья,None,1637223692354722493,visited,,4083,1.637312e+09
717219,1638025765,,3765,1638027000,"Третьяковская Галерея, Лаврушинский пер., 10, ...",7714836675,NaN,fe7dbb04c5663a8c3697f8ab14113313,None,500,,None,1638027084995221426,visited,500,1860,1.638027e+09
552473,1632593978,,1247482,1636626600,"сектор:Партер,ряд:9,место:8",7720312951,NaN,da9a07eb20fc6227448145812019597b,None,298,,None,1632593978873436272,visited,350,9471,1.636626e+09

In [76]:
tickets['status'].value_counts()

active      435719
visited     393532
refunded     25040
Name: status, dtype: int64

In [77]:
dir2 = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/events/'

In [81]:
events = pd.read_csv(dir2 + 'events.csv', sep = ';', error_bad_lines=False)

In [82]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42154 entries, 0 to 42153
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       42154 non-null  int64
 1   Название события                         42154 non-null  object
 2   Организатор мероприятия                  42154 non-null  object
 3   Ссылка на покупку билета                 42151 non-null  object
 4   Дополнительная ссылка на покупку билета  3817 non-null   object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [83]:
events.sample(7)

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета
35307,1501632,Развлекательная программа «Super-игротека»,МАУК «Центр культуры и спорта «Геолог»,https://quicktickets.ru/salehard-geolog,NaN
22920,1379926,Спектакль «Ленька Пантелеев. Мюзикл»,ГБУК «Театр юных зрителей им. А.А. Брянцева»,https://www.tyuz-spb.ru/spektakli/456-ljonka-p...,NaN
36959,1517429,Концерт JAVANAISE,ГАУ «Курганское театрально-концертное объедине...,http://kurgan-filarmonia.ru/event/1341/,NaN
12571,1283634,Спектакль «Не только любовь»,Театр «Санктъ-Петербургъ Опера»,https://www.spbopera.ru/afisha/2022-01/1817-ne...,NaN
19695,1347151,Концерт «Тайны маленького океана»,ОГБУК «Челябинская государственная филармония»,https://philarmonia.ru/index.php?option=com_co...,NaN
36088,1509550,Экскурсия «Путешествие в страну тракторландию»,НУК «Научно-технический музей истории трактора»,https://vmuzey.com/event/puteshestvie-v-stranu...,NaN
22299,1372565,Спектакль «Шопениана. Перезегрузка»,"Арт-клуб «Маяковка, 10»",https://nn.kassir.ru/teatr/shopeniana-perezagr...,NaN

In [95]:
events[events.ID == 2217]

Empty DataFrame
Columns: [ID, Название события, Организатор мероприятия, Ссылка на покупку билета, Дополнительная ссылка на покупку билета]
Index: []

In [86]:
events_pushka_accepted_30122021 = pd.read_csv(dir2 + 'events_pushka_accepted_30122021.csv', sep = ','
                                              , error_bad_lines=False)

In [87]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47856 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47856 non-null  int64
 1   entity.name                   47220 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47220 non-null  float64
 5   entity.organization.name      47220 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [88]:
events_pushka_accepted_30122021.sample(7)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name
34815,1356048,Концерт «Моя симфония»,https://kemerovo.ticketland.ru/doma-kultury/ke...,NaN,11565.0,МАУ «Дворец молодежи»
528,34247,Спектакль «Двенадцатая ночь»,http://www.uldramteatr.ru/repertuar/mainstage/,NaN,5973.0,ОГАУК «Ульяновский драматический театр имени И...
47611,1497957,Спектакль «Лаборатория новогодних чудес»,https://www.showmart.ru/events/new_year/moskov...,https://dilyaver-show.ru/sezon-2021-22/fixshow...,29515.0,ООО «Управляющая компания «Дилявер»
24485,1292707,Выставка «Неизвестный Эрьзя»,http://erzia-museum.ru/ru/pushkinskaya-karta/,http://erzia-museum.ru/ru/stranicy/15189/,4519.0,ГБУК «Мордовский республиканский музей изобраз...
16181,1258455,Музыкальная сказка «Снегурочка»,https://tgf.kto72.ru/events/buy/4718/,NaN,6037.0,ГАУК ТО «Тюменское концертно-театральное объед...
22557,1284383,Спектакль «Кентервильское приведение»,https://tyuz.ru/?page_id=13409,NaN,7656.0,ГБУК НО «Нижегородский государственный ордена ...
18682,1270038,Мастер-класс по вокалу,https://pcks.yam.muzkult.ru/afisha/event/69696691,NaN,5041.0,МБУК «Приуральская централизованная клубная си...

In [97]:
events_pushka_accepted_30122021[events_pushka_accepted_30122021['entity.organization._id'] == 2217]

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name
27392,1309020,Экспозиции маршрута № 1 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27393,1309020,Экспозиции маршрута № 1 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27394,1309020,Посещение главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=1,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27395,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=1,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27396,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=175,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27397,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=175,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27398,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/ru/#id=175,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27399,1309020,Экспозиции главного музейного комплекса Эрмитажа,https://tickets.hermitagemuseum.org/event/7E06...,https://tickets.hermitagemuseum.org/ru/#id=1,2217.0,ФГБУК «Государственный Эрмитаж»
27402,1309046,Экспозиции маршрута № 2 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27403,1309046,Экспозиции маршрута № 2 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»
27404,1309046,Экспозиции маршрута № 2 по Главному комплексу ...,https://tickets.hermitagemuseum.org/ru/#id=1&s...,NaN,2217.0,ФГБУК «Государственный Эрмитаж»

In [89]:
organizations = pd.read_csv(dir2 + 'organizations.csv', sep = ';', error_bad_lines=False)

In [90]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3270 non-null   int64
 1   Учреждение  3270 non-null   object
 2   Адрес       3270 non-null   object
 3   ИНН         3260 non-null   float64
 4   Категория   3232 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 127.9+ KB

In [91]:
organizations.sample(7)

,ID,Учреждение,Адрес,ИНН,Категория
2494,19864,Муниципальное автономное учреждение Центр куль...,"Новгородская обл, Старорусский р-н, г Старая Р...",5.322009e+09,Дворцы культуры и клубы
2374,17422,МБУК «Краеведческий музей Кукморского муниципа...,"Респ Татарстан, Кукморский р-н, пгт Кукмор, ул...",1.623011e+09,Музеи и галереи
2992,28585,Музей «Арт-Макет»,"Московская обл, г Сергиев Посад, г Сергиев Пос...",5.042124e+11,Музеи и галереи
2866,28196,Кассир.ру,г Москва,7.841075e+09,Прочее
2,7,ГБУК «Белгородский государственный литературны...,"Белгородская обл, г Белгород, ул Преображенска...",3.123310e+09,Музеи и галереи
420,3297,МБУК «Заинский Краеведческий музей»,"Респ Татарстан, Заинский р-н, г Заинск, ул Орд...",1.647015e+09,Музеи и галереи
1921,11658,КГАУК «Красноярская краевая филармония»,"Красноярский край, г Красноярск, пр-кт Мира, д 2Б",2.466052e+09,NaN

In [100]:
users_full = uniq.join(users['user_birth'],ignore_index=False, axis = 1, keys = 'user_id')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [107]:
users_full = pd.concat([uniq, users['user_birth']],ignore_index = True, axis = 1, keys = 'user_id')

In [110]:
users_full.columns = users_full.iloc[0]

In [111]:
users_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879682 entries, 0 to 2879681
Data columns (total 5 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_phone_details  object
 2   buyer_mobile_phone  object
 3   user_id             object
 4   user_birth          object
dtypes: object(5)
memory usage: 109.9+ MB

In [112]:
users_full.head(5)

,create_date,user_phone_details,buyer_mobile_phone,user_id,user_birth
0,create_date,user_phone_details,buyer_mobile_phone,user_id,user_birth
1,2021-11-01,"Android, 10.0 (SDK 23)",9a4626b3a9347d26e1f1ef3aa5a8a1f8,4ffe69a0c4b35a0fc0dc5428ea035a8d,2003-08-14
2,2021-11-01,"Android, 10.0 (SDK 28)",c46da482b2b1081b5938f7b4ee751f45,b7e8986867e75372294031671d495e73,2000-03-06
3,2021-11-01,"Android, 10.0 (SDK 29)",eb53d279b5b4fccac920c76b5f87dfd2,04a5750fe6ab982db6b856bf01a3a8d1,2000-12-14
4,2021-11-01,"Android, 10.0 (SDK 29)",44063bb1435e06c5268184cbda8a18e2,4e069ebc0dc55884a96b88f4eda3a3e0,2004-01-14

In [113]:
users_full = pd.concat([users_full, region['region']],ignore_index = True, axis = 1, keys = 'user_id')

In [114]:
users_full.columns = users_full.iloc[0]

In [115]:
users_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879682 entries, 0 to 2879681
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         object
 1   user_phone_details  object
 2   buyer_mobile_phone  object
 3   user_id             object
 4   user_birth          object
 5   region              object
dtypes: object(6)
memory usage: 131.8+ MB

In [116]:
users_full.head(5)

,create_date,user_phone_details,buyer_mobile_phone,user_id,user_birth,region
0,create_date,user_phone_details,buyer_mobile_phone,user_id,user_birth,region
1,2021-11-01,"Android, 10.0 (SDK 23)",9a4626b3a9347d26e1f1ef3aa5a8a1f8,4ffe69a0c4b35a0fc0dc5428ea035a8d,2003-08-14,Республика Коми
2,2021-11-01,"Android, 10.0 (SDK 28)",c46da482b2b1081b5938f7b4ee751f45,b7e8986867e75372294031671d495e73,2000-03-06,Пермский край
3,2021-11-01,"Android, 10.0 (SDK 29)",eb53d279b5b4fccac920c76b5f87dfd2,04a5750fe6ab982db6b856bf01a3a8d1,2000-12-14,Краснодарский край
4,2021-11-01,"Android, 10.0 (SDK 29)",44063bb1435e06c5268184cbda8a18e2,4e069ebc0dc55884a96b88f4eda3a3e0,2004-01-14,Саратовская область

In [117]:
users_full.drop(labels = [0],axis = 0, inplace = True)

In [118]:
users_full.head(5)

,create_date,user_phone_details,buyer_mobile_phone,user_id,user_birth,region
1,2021-11-01,"Android, 10.0 (SDK 23)",9a4626b3a9347d26e1f1ef3aa5a8a1f8,4ffe69a0c4b35a0fc0dc5428ea035a8d,2003-08-14,Республика Коми
2,2021-11-01,"Android, 10.0 (SDK 28)",c46da482b2b1081b5938f7b4ee751f45,b7e8986867e75372294031671d495e73,2000-03-06,Пермский край
3,2021-11-01,"Android, 10.0 (SDK 29)",eb53d279b5b4fccac920c76b5f87dfd2,04a5750fe6ab982db6b856bf01a3a8d1,2000-12-14,Краснодарский край
4,2021-11-01,"Android, 10.0 (SDK 29)",44063bb1435e06c5268184cbda8a18e2,4e069ebc0dc55884a96b88f4eda3a3e0,2004-01-14,Саратовская область
5,2021-11-01,"Android, 10 (SDK 29)",b45aeaf3e6b90964cef5f8aef5e7b4d7,1e9ca78fadf92a75642ff71a20e2d142,2007-01-25,Москва

In [125]:
users_full.tail(5)

,create_date,user_phone_details,buyer_mobile_phone,user_id,user_birth,region
2879677,NaN,NaN,NaN,NaN,1998-10-20,NaN
2879678,NaN,NaN,NaN,NaN,2003-04-08,NaN
2879679,NaN,NaN,NaN,NaN,2002-02-01,NaN
2879680,NaN,NaN,NaN,NaN,2003-03-06,NaN
2879681,NaN,NaN,NaN,NaN,1999-10-30,NaN

In [124]:
pd.to_datetime(users_full['create_date'], yearfirst = True, infer_datetime_format = True)

1         2021-11-01
2         2021-11-01
3         2021-11-01
4         2021-11-01
5         2021-11-01
             ...
2879677          NaT
2879678          NaT
2879679          NaT
2879680          NaT
2879681          NaT
Name: create_date, Length: 2879681, dtype: datetime64[ns]