In [2]:
import pandas as pd
import numpy as np
import math
import json

In [3]:
path = 'C:/Users/Rusla/Documents/GitHub/pushka_intern' #/Sample/input

In [4]:
organizations = pd.read_csv(path + '/Sample/input/organizations.csv', sep = ';')

In [5]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3270 non-null   int64
 1   Учреждение  3270 non-null   object
 2   Адрес       3270 non-null   object
 3   ИНН         3260 non-null   float64
 4   Категория   3232 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 127.9+ KB

In [6]:
organizations['ИНН'] = organizations['ИНН'].apply(lambda x: int(x) if math.isnan(float(x)) == False else 1)

In [7]:
organizations_2 = pd.read_excel(path + '/Sample/Организации.xlsx', engine='openpyxl')

In [8]:
organizations_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98021 entries, 0 to 98020
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ИД                   98021 non-null  int64
 1   Полное наименование  95667 non-null  object
 2   ИНН                  47728 non-null  object
 3   Федеральный округ    98021 non-null  object
 4   Субъект РФ           98021 non-null  object
 5   Район/округ          94870 non-null  object
 6   Вид организации      98021 non-null  object
 7   Тип организации      94542 non-null  object
 8   Широта               96196 non-null  float64
 9   Долгота              96156 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 7.5+ MB

In [9]:
organizations_2['ИНН'] = organizations_2['ИНН'].str.replace(' ', '')

In [10]:
organizations_2['ИНН'] = organizations_2['ИНН'].apply(lambda x: int(x) if math.isnan(float(x)) == False else 0)

organizations = pd.merge(organizations, organizations_2[['ИНН', 'Широта', 'Долгота']],
                     how = 'left', on = 'ИНН')

In [11]:
organizations = organizations.merge(
    organizations_2.drop_duplicates(subset=['ИНН']), left_on='ИНН', right_on=['ИНН'], how='left')

In [12]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3270 entries, 0 to 3269
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   3270 non-null   int64
 1   Учреждение           3270 non-null   object
 2   Адрес                3270 non-null   object
 3   ИНН                  3270 non-null   int64
 4   Категория            3232 non-null   object
 5   ИД                   2609 non-null   float64
 6   Полное наименование  2606 non-null   object
 7   Федеральный округ    2609 non-null   object
 8   Субъект РФ           2609 non-null   object
 9   Район/округ          2274 non-null   object
 10  Вид организации      2609 non-null   object
 11  Тип организации      2479 non-null   object
 12  Широта               2606 non-null   float64
 13  Долгота              2606 non-null   float64
dtypes: float64(3), int64(2), object(9)
memory usage: 383.2+ KB

In [13]:
organizations[organizations['Широта'].notna() == False]

,ID,Учреждение,Адрес,ИНН,Категория,ИД,Полное наименование,Федеральный округ,Субъект РФ,Район/округ,Вид организации,Тип организации,Широта,Долгота
6,13,ГБУК «Белгородский государственный историко-ху...,"Белгородская обл, г Белгород, ул Попова, д 2",3123044638,Музеи и галереи,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,33,Дом офицеров,"Белгородская обл, г Белгород, ул Куйбышева, д 33А",3123173048,Дворцы культуры и клубы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,62,МКУК «Центр народного творчества Ивнянского ра...,"Белгородская обл, Ивнянский р-н, рп Ивня, ул З...",3109003911,Дворцы культуры и клубы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,125,МБУК «Городской центр народного творчества «Со...,"Белгородская обл, г Белгород, пр-кт Б.Хмельниц...",3123037380,Дворцы культуры и клубы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,164,МБУК «Красногвардейский краеведческий музей»,"Белгородская обл, Красногвардейский р-н, г Бир...",3111005200,Музеи и галереи,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265,30027,ООО «Туристическая фирма Ильиной»,"Белгородская обл, г Белгород, ул Попова, д 58",3123073646,Прочее,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3266,30029,ИП Степин Сергей Владимирович,"Московская обл, г Серпухов, ул 1-я Новоселок",504308485493,Театры,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3267,30033,ИП Орлов Максим Сергеевич,"Кировская обл, г Киров, ул Мопра, 99",434584267934,Концертные площадки,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3268,30041,ИП Абсаламов Динислам Бексолтанович,"Ленинградская обл, Тосненский р-н, гп Красный ...",471607066031,Прочее,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3269,30046,ИП Супрунов Владимир Иванович,"Воронежская обл, Россошанский р-н, г Россошь, ...",362700953954,Прочее,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
organizations.dropna(subset=['Широта'], inplace = True)

In [15]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 0 to 3188
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2606 non-null   int64
 1   Учреждение           2606 non-null   object
 2   Адрес                2606 non-null   object
 3   ИНН                  2606 non-null   int64
 4   Категория            2568 non-null   object
 5   ИД                   2606 non-null   float64
 6   Полное наименование  2606 non-null   object
 7   Федеральный округ    2606 non-null   object
 8   Субъект РФ           2606 non-null   object
 9   Район/округ          2272 non-null   object
 10  Вид организации      2606 non-null   object
 11  Тип организации      2479 non-null   object
 12  Широта               2606 non-null   float64
 13  Долгота              2606 non-null   float64
dtypes: float64(3), int64(2), object(9)
memory usage: 305.4+ KB

In [16]:
organizations.drop(['ИД', 'Полное наименование', 'Федеральный округ', 'Субъект РФ', 'Район/округ',
                    'Вид организации', 'Тип организации', 'Адрес', 'ИНН', 'Категория'], 
                    axis = 1, inplace = True)

In [17]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 0 to 3188
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          2606 non-null   int64
 1   Учреждение  2606 non-null   object
 2   Широта      2606 non-null   float64
 3   Долгота     2606 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 101.8+ KB

In [18]:
organizations.to_csv(path + '\Sample\org_with_geo.csv', sep = ';', index = False)

In [19]:
org_with_geo = pd.read_csv(path + '\Sample\org_with_geo.csv', sep = ';')

In [20]:
org_with_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2606 entries, 0 to 2605
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          2606 non-null   int64
 1   Учреждение  2606 non-null   object
 2   Широта      2606 non-null   float64
 3   Долгота     2606 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 81.6+ KB

In [21]:
org_with_geo.sample(3)

,ID,Учреждение,Широта,Долгота
1504,8614,ГБУ РД «Лакский государственный музыкально-дра...,42.977697,47.512665
633,4518,ГБУК «Тверская областная картинная галерея»,56.862274,35.899951
1765,10885,ГБУ «Государственный лезгинский музыкально-дра...,42.054065,48.294592

In [22]:
events = pd.read_csv(path + '/Sample/input/events.csv', sep = ';')

In [23]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42154 entries, 0 to 42153
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       42154 non-null  int64
 1   Название события                         42154 non-null  object
 2   Организатор мероприятия                  42154 non-null  object
 3   Ссылка на покупку билета                 42151 non-null  object
 4   Дополнительная ссылка на покупку билета  3817 non-null   object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [24]:
events.sample(3)

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета
29606,1458676,Выставка «112-я кавалерийская...»,ГБУКИ РБ «Национальный музей Республики Башкор...,https://vmuzey.com/event/vystavka-112-aya-kava...,NaN
42014,1565410,Выставка посвященная празднованию Дня гражданс...,МАУ «Центр культуры и современного искусства и...,https://afisha.yandex.ru/yakutsk/art/my-krylia...,NaN
19946,1348633,"Программа «Балеты «Шотландская симфония», «Апо...",ФГБУК «Государственный академический Мариински...,https://tickets.mariinsky.ru/prim/ru/performan...,NaN

In [25]:
org_with_geo.rename(columns={'Учреждение': 'Организатор мероприятия'}, inplace=True)

In [26]:
events = events.merge(
    org_with_geo.drop_duplicates(subset=['Организатор мероприятия']), left_on='Организатор мероприятия'
    , right_on=['Организатор мероприятия'], how='left')

In [27]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42154 entries, 0 to 42153
Data columns (total 8 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID_x                                     42154 non-null  int64
 1   Название события                         42154 non-null  object
 2   Организатор мероприятия                  42154 non-null  object
 3   Ссылка на покупку билета                 42151 non-null  object
 4   Дополнительная ссылка на покупку билета  3817 non-null   object
 5   ID_y                                     37923 non-null  float64
 6   Широта                                   37923 non-null  float64
 7   Долгота                                  37923 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.9+ MB

In [28]:
events.rename(columns={'ID_x': 'event_id', 'Название события': 'event_name',
                'Организатор мероприятия': 'org_name', 'ID_y': 'org_id'}, inplace = True)

In [29]:
events.drop(['Ссылка на покупку билета', 'Дополнительная ссылка на покупку билета'],
            axis = 1, inplace =True)

In [30]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42154 entries, 0 to 42153
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   event_id    42154 non-null  int64
 1   event_name  42154 non-null  object
 2   org_name    42154 non-null  object
 3   org_id      37923 non-null  float64
 4   Широта      37923 non-null  float64
 5   Долгота     37923 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 2.3+ MB

In [31]:
events.to_csv(path + '\Sample\input\events_with_geo.csv', sep = ';', index = False)

In [82]:
def near_events(longitude, latitude, distance):
    near_events = dict() #создаю словарь, что бы добавить мероприятия
    
    path_input = 'C:/Users/Rusla/Documents/GitHub/pushka_intern/Sample/input'
    with open(path_input + '/rec_test.json') as f:
        recomindations = json.load(f)

    events_set = set()
    for i in recomindations.values():
        z = list(i.keys())
        for y in z:
            events_set.add(y)
        

    events = pd.read_csv(path_input + '/events_with_geo.csv', sep = ';', error_bad_lines=False)
    events['event_id'] = events['event_id'].apply(lambda x: str(x))
    

    events = events.loc[events.event_id.isin(events_set)] 

    start_filter = list(events['event_id'].unique())
    #for i in events['event_id']:
   
        # Отсекаем города по Долготе
    longitude_min = longitude - distance/111.111
    longitude_max = longitude + distance/111.111
    print(longitude_min)
    events = events[events['Долгота'].between(longitude_min, longitude_max, inclusive='both')]
    
    latitude_2 = 40000/360 * math.cos(float(latitude)*0.017)
   
    latitude_min = latitude - distance/latitude_2 #round(distance/(latitude_2/60)/60, 6)
    latitude_max = latitude + distance/latitude_2 #round(distance/(latitude_2/60)/60, 6)
    print(latitude_min)
        # Отсекаем города по Широте
    events = events[events['Широта'].between(latitude_min, latitude_max,inclusive='both')]

    print(events.shape)
    result = list()
    for i in start_filter:
        if i not in list(events['event_id'].unique()):
                result.append(i)

    #result = start_filter - list(events['event_id'].unique())

    for i in recomindations.keys():
        for j in result:
            try:
                del recomindations[i][j]
            except KeyError:
                continue

    with open(path_input + '/rec_test_geo.json', 'w') as outfile:
        json.dump(recomindations, outfile)

    return #recomindations

In [91]:
near_events(37.596982, 55.769078, 5)

C:\Users\Rusla\AppData\Local\Temp\ipykernel_25812\3694019836.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  near_events(37.596982, 55.769078, 5)

37.55198195499995
55.69192390698334
(281, 6)