In [1]:
import pandas as pd

In [2]:
user_event = pd.read_csv('user_event_test.csv')
user_event.drop(columns='Unnamed: 0', inplace=True)
user_event

,user_id,event_id,event_name,clicks_count,user_num
0,0001ad0041738ac671fe52a5f887742e,919008,Экспозиция «Древнерусская иконопись XIII–XVI в...,1,0
1,0001ad0041738ac671fe52a5f887742e,1249161,Экспозиция музея Владимира Высоцкого,1,0
2,0001ad0041738ac671fe52a5f887742e,1271526,Экспозиции Мультимедиа Арт Музея,1,0
3,0001ad0041738ac671fe52a5f887742e,1362230,Выставка «За все тебя благодарю»,1,0
4,0001ad0041738ac671fe52a5f887742e,1420786,Вечер музыки П. И. Чайковского,1,0
...,...,...,...,...,...
35552,ffe13ffdd93b045e3b06ee834c585d26,1300654,Спектакль «Дневник Анны Франк. Белая роза»,1,13655
35553,ffe4a90226a335c9ed184bc19163490b,1240774,Спектакль «Анна Каренина»,1,13656
35554,ffe4a90226a335c9ed184bc19163490b,1300354,Спектакль «Люди как люди»,1,13656
35555,ffe4a90226a335c9ed184bc19163490b,1300678,Спектакль «Мнимый больной»,1,13656
35556,fff57c97533412e45cad515b6a0cc0f4,1282657,Выставка ко Дню знаний,1,13657

### Класс EventRecommender

In [3]:
from recommenders.implicit_models import EventRecommender

In [4]:
recommender = EventRecommender(user_event, 'als')

  0%|          | 0/20 [00:00<?, ?it/s]

In [5]:
recommender.prepare_recommendations()

In [6]:
recommender.recommendations

                                 user_id  event_id     score
0       0001ad0041738ac671fe52a5f887742e   1420213  0.614521
1       0001ad0041738ac671fe52a5f887742e   1245718  0.549547
2       0001ad0041738ac671fe52a5f887742e   1348601  0.548650
3       0001ad0041738ac671fe52a5f887742e   1430294  0.516306
4       0001ad0041738ac671fe52a5f887742e   1220797  0.473651
...                                  ...       ...       ...
136575  fff57c97533412e45cad515b6a0cc0f4   1231702  0.216218
136576  fff57c97533412e45cad515b6a0cc0f4   1157960  0.209897
136577  fff57c97533412e45cad515b6a0cc0f4   1290221  0.202580
136578  fff57c97533412e45cad515b6a0cc0f4   1271602  0.201488
136579  fff57c97533412e45cad515b6a0cc0f4   1246053  0.193902

[136580 rows x 3 columns]

In [7]:
recommender.get_user_recommendation(user_id='0046252d156d6e6c3d658b812457d5b6')

                              user_id  event_id     score
200  0046252d156d6e6c3d658b812457d5b6   1354417  0.122972
201  0046252d156d6e6c3d658b812457d5b6   1304566  0.113238
202  0046252d156d6e6c3d658b812457d5b6   1254273  0.106338
203  0046252d156d6e6c3d658b812457d5b6   1304549  0.105598
204  0046252d156d6e6c3d658b812457d5b6    960187  0.105027
205  0046252d156d6e6c3d658b812457d5b6   1413977  0.101381
206  0046252d156d6e6c3d658b812457d5b6   1270040  0.101122
207  0046252d156d6e6c3d658b812457d5b6   1068549  0.096146
208  0046252d156d6e6c3d658b812457d5b6   1309808  0.088886
209  0046252d156d6e6c3d658b812457d5b6   1304560  0.088591

In [8]:
recommender.get_users_interested_in_event(1245107)

                                 user_id  event_id     score
69953   8247e1d9e7977ca2f6e2b1838aa77654   1245107  1.146182
54960   661df4942e8d38842dbd406145cb6a10   1245107  1.127573
95630   b2c854ba835ab086fb1bd1bb5a269927   1245107  1.068864
47855   59d8dd14f107e5422792cb46eb283571   1245107  1.053078
121312  e38dc7be9991c04e6feb79a6c0f01551   1245107  1.037833
85680   9f826cad1b9fb35a772a2b5870cbd5ed   1245107  1.017488
6473    0c37b46eccb5284aa2a791e1c419377a   1245107  0.997635
110580  ced4209e0565f479571ec4a9bc364fbc   1245107  0.987867
38632   4883bb8c797436bc8e77b2a829d8685a   1245107  0.969466
70743   838e64a3efb40f2eaac432c9c300c106   1245107  0.952048

In [9]:
recommender.save_as_csv('rec_test.csv')

True

In [ ]:
recommender.save_as_json('rec_test.json')