In [1]:
import pandas as pd
import preprocessing.data_management as dm

# Пример использования

In [2]:
user_event = pd.read_csv('moscow_event_test.csv')
user_event.drop(columns='Unnamed: 0', inplace=True)
user_event

,user_id,event_id,event_name,clicks_count,user_num
0,0001ad0041738ac671fe52a5f887742e,919008,Экспозиция «Древнерусская иконопись XIII–XVI в...,1,0
1,0001ad0041738ac671fe52a5f887742e,1249161,Экспозиция музея Владимира Высоцкого,1,0
2,0001ad0041738ac671fe52a5f887742e,1271526,Экспозиции Мультимедиа Арт Музея,1,0
3,0001ad0041738ac671fe52a5f887742e,1362230,Выставка «За все тебя благодарю»,1,0
4,0001ad0041738ac671fe52a5f887742e,1420786,Вечер музыки П. И. Чайковского,1,0
...,...,...,...,...,...
35552,ffe13ffdd93b045e3b06ee834c585d26,1300654,Спектакль «Дневник Анны Франк. Белая роза»,1,13655
35553,ffe4a90226a335c9ed184bc19163490b,1240774,Спектакль «Анна Каренина»,1,13656
35554,ffe4a90226a335c9ed184bc19163490b,1300354,Спектакль «Люди как люди»,1,13656
35555,ffe4a90226a335c9ed184bc19163490b,1300678,Спектакль «Мнимый больной»,1,13656
35556,fff57c97533412e45cad515b6a0cc0f4,1282657,Выставка ко Дню знаний,1,13657

In [3]:
user_event = dm.numerate_user_event_df(user_event)
extra_event_ids = dm.get_extra_events_ids(user_event_df=user_event)
user_event = user_event.rename(columns={
    'event_id': 'item_id',
    'event_num': 'item_num',
    'clicks_count': 'rating'
})
user_event

,user_id,item_id,event_name,rating,user_num,item_num
0,0001ad0041738ac671fe52a5f887742e,919008,Экспозиция «Древнерусская иконопись XIII–XVI в...,1,0,337
1,0001ad0041738ac671fe52a5f887742e,1249161,Экспозиция музея Владимира Высоцкого,1,0,592
2,0001ad0041738ac671fe52a5f887742e,1271526,Экспозиции Мультимедиа Арт Музея,1,0,882
3,0001ad0041738ac671fe52a5f887742e,1362230,Выставка «За все тебя благодарю»,1,0,1481
4,0001ad0041738ac671fe52a5f887742e,1420786,Вечер музыки П. И. Чайковского,1,0,1654
...,...,...,...,...,...,...
35552,ffe13ffdd93b045e3b06ee834c585d26,1300654,Спектакль «Дневник Анны Франк. Белая роза»,1,13655,1150
35553,ffe4a90226a335c9ed184bc19163490b,1240774,Спектакль «Анна Каренина»,1,13656,513
35554,ffe4a90226a335c9ed184bc19163490b,1300354,Спектакль «Люди как люди»,1,13656,1145
35555,ffe4a90226a335c9ed184bc19163490b,1300678,Спектакль «Мнимый больной»,1,13656,1151
35556,fff57c97533412e45cad515b6a0cc0f4,1282657,Выставка ко Дню знаний,1,13657,1024

In [4]:
from recommenders.implicit_models import EventRecommender

In [5]:
recommender = EventRecommender(user_item_df=user_event, extra_item_ids=extra_event_ids)

In [6]:
recommender.fit(model_name='als', factors=20, regularization=0.1, iterations=20)

  0%|          | 0/20 [00:00<?, ?it/s]

In [7]:
rec_df = recommender.get_all_recommendation(as_pd_dataframe=True)
rec_df

100%|██████████| 13658/13658 [00:03<00:00, 4531.38it/s]

                                 user_id  item_id    rating
0       0001ad0041738ac671fe52a5f887742e  1245718  0.607489
1       0001ad0041738ac671fe52a5f887742e  1420213  0.551407
2       0001ad0041738ac671fe52a5f887742e  1336375  0.496153
3       0001ad0041738ac671fe52a5f887742e  1284719  0.448322
4       0001ad0041738ac671fe52a5f887742e   888843  0.443194
...                                  ...      ...       ...
136575  fff57c97533412e45cad515b6a0cc0f4  1364509  0.240362
136576  fff57c97533412e45cad515b6a0cc0f4  1246053  0.235592
136577  fff57c97533412e45cad515b6a0cc0f4  1314995  0.229209
136578  fff57c97533412e45cad515b6a0cc0f4  1261967  0.210230
136579  fff57c97533412e45cad515b6a0cc0f4  1249519  0.198777

[136580 rows x 3 columns]

In [8]:
recommender.get_user_recommendation(user_id='0001ad0041738ac671fe52a5f887742e')

[['0001ad0041738ac671fe52a5f887742e', 1245718, 0.60748893],
 ['0001ad0041738ac671fe52a5f887742e', 1420213, 0.5514066],
 ['0001ad0041738ac671fe52a5f887742e', 1336375, 0.49615306],
 ['0001ad0041738ac671fe52a5f887742e', 1284719, 0.44832218],
 ['0001ad0041738ac671fe52a5f887742e', 888843, 0.44319364],
 ['0001ad0041738ac671fe52a5f887742e', 1348381, 0.43749887],
 ['0001ad0041738ac671fe52a5f887742e', 1430294, 0.41231883],
 ['0001ad0041738ac671fe52a5f887742e', 1271602, 0.40517622],
 ['0001ad0041738ac671fe52a5f887742e', 1320284, 0.3844385],
 ['0001ad0041738ac671fe52a5f887742e', 1246053, 0.3762192]]

In [9]:
recommender.to_csv('rec_test')

In [10]:
recommender.to_json('rec_test.json')

100%|██████████| 136580/136580 [00:00<00:00, 1345425.69it/s]

In [11]:
b = {}
a = {1321481: 0.59278786, 1220797: 0.58717114, 1430294: 0.56310654, 1420213: 0.507827, 1245718: 0.49826285, 1290542: 0.49143383, 1409860: 0.44971365, 1271602: 0.43810356, 1348381: 0.43750492, 1249864: 0.42139465}
b['1'] = a
b

{'1': {1321481: 0.59278786,
  1220797: 0.58717114,
  1430294: 0.56310654,
  1420213: 0.507827,
  1245718: 0.49826285,
  1290542: 0.49143383,
  1409860: 0.44971365,
  1271602: 0.43810356,
  1348381: 0.43750492,
  1249864: 0.42139465}}