In [126]:
import pandas as pd
import numpy as np
import math
import re

In [85]:
path = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/'
path2 = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/events/'

In [86]:
click = pd.read_csv(path + 'click.csv', sep=';', error_bad_lines=False)

b'Skipping line 862995: expected 6 fields, saw 7\nSkipping line 862997: expected 6 fields, saw 7\n'
b'Skipping line 2142333: expected 6 fields, saw 7\nSkipping line 2142335: expected 6 fields, saw 7\n'
b'Skipping line 2844195: expected 6 fields, saw 7\n'
b'Skipping line 3074159: expected 6 fields, saw 7\n'

In [87]:
path2 = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/events/'

In [88]:
events_pushka_accepted_30122021 = pd.read_csv(path2 + 'events_pushka_accepted_30122021.csv', sep = ',', error_bad_lines=False)

In [89]:
click.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url
1000178,2021-11-18 10:10:45,2021-11-18,"Android, 10 (SDK 29)",c7b01cd62be02c4e41f9cf2740b3e736,683587336c7bb69f2402a98953326b5b,https://vmuzey.com/event/ekspoziciya-russkoe-i...
853736,2021-11-18 05:22:31,2021-11-18,"iOS, iOS 14.6",4fe0cfd4d92e1d13e4bd9304f9882ad2,2400db12769965c091d20b5047230fdd,https://krasnodar.ticketland.ru/teatry/krasnod...
1075805,2021-11-23 18:29:51,2021-11-23,"Android, 11 (SDK 30)",94b42ced07e8863ca97438b59d360427,5b546ff41d7a739fb7abb14fe33744b5,https://satire.ru/dorogi-kotorie-nas-vibirayut

In [90]:
events_pushka_accepted_30122021.sample(3)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name
39127,1398285,Экскурсия «Русское искусство в УОХМ»,https://vmuzey.com/event/ekskursiya-russkoe-is...,NaN,2983.0,ОГБУК «Ульяновский областной художественный му...
2815,409803,Спектакль «Весёлые гномы и Бука»,https://sevtyuz.ru/playbill/plays/show/buka-i-...,NaN,9605.0,ГБУК г. Севастополя «Севастопольский театр юно...
854,69234,Спектакль «Сирано»,https://iframeab-pre3899.intickets.ru/event/11...,https://www.teatrmost.ru/performances/sirano/,5475.0,Театр «МОСТ»

In [91]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47856 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47856 non-null  int64
 1   entity.name                   47220 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47220 non-null  float64
 5   entity.organization.name      47220 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [92]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021[events_pushka_accepted_30122021[
    'entity.saleLink'].notna() == True]

In [93]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47218 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47218 non-null  int64
 1   entity.name                   47218 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47218 non-null  float64
 5   entity.organization.name      47218 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ MB

In [94]:
events_pushka_accepted_30122021['session_identity'] = events_pushka_accepted_30122021['entity.name'
                                                                                     ].apply(lambda x:
                                                                                            x.split()[0].strip())

In [95]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47218 entries, 0 to 47855
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47218 non-null  int64
 1   entity.name                   47218 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47218 non-null  float64
 5   entity.organization.name      47218 non-null  object
 6   session_identity              47218 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.9+ MB

In [96]:
events_pushka_accepted_30122021.sample(3)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name,session_identity
15026,1254632,Спектакль «Тихий Дон»,https://kazachiy-theatre.ru/timetable/#/buy/3815,NaN,6408.0,ГБУК «Волгоградский музыкально-драматический к...,Спектакль
10471,1242533,Спектакль «Один день Ивана Денисовича»,https://quicktickets.ru/novokuznetsk-dramteatr...,NaN,8636.0,ГАУК «Новокузнецкий драматический театр»,Спектакль
46572,1484271,Интерактивная экскурсия «Хлебное ухо»,https://vmuzey.com/event/hlebnoe-uho,NaN,3544.0,Историко-этнографический музей-заповедник «Шуш...,Интерактивная

In [97]:
events_pushka_accepted_30122021['session_identity'].value_counts()[100:]

Молодежная         15
Интерактивные      15
Новогоднее         15
Викторина          14
Пешая              14
                   ..
XVII                1
Юбилейное           1
Арт-кафе            1
Культурная          1
Оперетта-мюзикл     1
Name: session_identity, Length: 717, dtype: int64

In [98]:
events_links = events_pushka_accepted_30122021['entity.saleLink'].unique()

In [99]:
click_links = click['url'].unique()

In [100]:
equal_links = []

for i in click_links:
    for j in events_links:
        if i == j:
            equal_links.append(i)

In [101]:
len(equal_links)

19572

In [102]:
click['url'].nunique()

19924

In [103]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021.rename(columns= {'entity.saleLink': 'url',
                                                                                  'entity._id': 'session_id',
                                                                                  'entity.name': 'session_name',
                                                                                  'entity.additionalSaleLinks.0': 'additional_url',
                                                                                  'entity.organization._id': 'organization_id',
                                                                                  'entity.organization.name': 'organization_name'})

In [104]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021.astype({"organization_id": "object",
                                                                         'session_id': 'object'})

In [105]:
cliks_add = pd.merge(click, events_pushka_accepted_30122021, how = 'left', on = 'url')

In [106]:
cliks_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5747390 entries, 0 to 5747389
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   create_time         object
 1   create_date         object
 2   user_phone_details  object
 3   buyer_mobile_phone  object
 4   user_id             object
 5   url                 object
 6   session_id          object
 7   session_name        object
 8   additional_url      object
 9   organization_id     object
 10  organization_name   object
 11  session_identity    object
dtypes: object(12)
memory usage: 570.0+ MB

In [107]:
cliks_add.to_csv(path + 'cliks_add.csv', sep=';', index=False)

In [108]:
organizations = pd.read_csv(path2 + 'organizations.csv', sep = ';', error_bad_lines=False)

In [109]:
organizations = organizations[organizations['ИНН'].notna()]

In [110]:
organizations['Org_region_number'] = organizations['ИНН'].apply(lambda x:
                                                               int(str(x)[:2]) 
                                                                if len(str(x)) == 12
                                                               else int(str(x)[:1]))

In [111]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3260 entries, 0 to 3269
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3260 non-null   int64
 1   Учреждение         3260 non-null   object
 2   Адрес              3260 non-null   object
 3   ИНН                3260 non-null   float64
 4   Категория          3222 non-null   object
 5   Org_region_number  3260 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 178.3+ KB

In [112]:
organizations = organizations.rename(
    columns= {'ID': 'organization_id','Категория': 'org_category'})

In [113]:
cliks_add = pd.merge(cliks_add, organizations[['organization_id', 'Org_region_number', 'org_category']],
                     how = 'left', on = 'organization_id')

In [114]:
cliks_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5747390 entries, 0 to 5747389
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   create_time         object
 1   create_date         object
 2   user_phone_details  object
 3   buyer_mobile_phone  object
 4   user_id             object
 5   url                 object
 6   session_id          object
 7   session_name        object
 8   additional_url      object
 9   organization_id     object
 10  organization_name   object
 11  session_identity    object
 12  Org_region_number   float64
 13  org_category        object
dtypes: float64(1), object(13)
memory usage: 657.7+ MB

In [115]:
cliks_add.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,session_id,session_name,additional_url,organization_id,organization_name,session_identity,Org_region_number,org_category
3604328,2021-11-07 17:00:14,2021-11-07,"Android, 11 (SDK 30)",0131522905d8e8a56ca70b281ddc935b,a6547333a5f7beffebd972778f2a130c,https://chel.kassy.ru/events/teatr/2-21296/hall/,125608,Опера «Жизнь за царя»,NaN,7779,ОГБУК «Челябинский государственный академическ...,Опера,74.0,Театры
5518410,2021-11-17 16:00:25,2021-11-17,"iOS, iOS 14.7.1",ae8407a4b1623de6ccf9954ee7151ec7,119b8c84fbcfe8b663148bbe93c3a80b,https://ticket.bolshoi.ru/login,1385041,Балет «Драгоценности»,NaN,5472,ФГБУК «Государственный академический Большой т...,Балет,77.0,Театры
698854,2021-11-15 06:07:30,2021-11-15,"Android, 9 (SDK 28)",6e438b90b0b3212e60207e58513fce30,ff290d2ef76c8fe02f837ab3811b36ed,https://teatrnabulake.ru/afisha,1249921,Спектакль «Зима»,NaN,12537,ООО «Молодежный театр на Булаке»,Спектакль,16.0,Театры

In [116]:
cliks_add.to_csv(path + 'cliks_add.csv', sep=';', index=False)

In [117]:
users = pd.read_csv(path + 'users_full.csv', sep=';', error_bad_lines=False)

In [118]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879681 entries, 0 to 2879680
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   create_date         int64
 1   user_id             object
 2   user_birth          object
 3   create_date.1       object
 4   user_phone_details  object
 5   buyer_mobile_phone  object
 6   region              object
 7   age                 int64
 8   user_region         float64
dtypes: float64(1), int64(2), object(6)
memory usage: 197.7+ MB

In [119]:
cliks_add = pd.merge(cliks_add, users[['user_id', 'age', 'user_region']],
                     how = 'left', on = 'user_id')

In [120]:
cliks_add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5747390 entries, 0 to 5747389
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   create_time         object
 1   create_date         object
 2   user_phone_details  object
 3   buyer_mobile_phone  object
 4   user_id             object
 5   url                 object
 6   session_id          object
 7   session_name        object
 8   additional_url      object
 9   organization_id     object
 10  organization_name   object
 11  session_identity    object
 12  Org_region_number   float64
 13  org_category        object
 14  age                 float64
 15  user_region         float64
dtypes: float64(3), object(13)
memory usage: 745.4+ MB

In [121]:
cliks_add.to_csv(path + 'cliks_add.csv', sep=';', index=False)

In [122]:
cliks_add.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url,session_id,session_name,additional_url,organization_id,organization_name,session_identity,Org_region_number,org_category,age,user_region
126434,2021-11-01 21:20:36,2021-11-01,"iOS, iOS 14.4.2",ec162150e4cd8dd3511da2afd13c0db7,ffcc7ebd33558083ad2c2015c57a2f56,https://net-volgograd.ru/afisha/,1246923,Спектакль «Варшавская мелодия»,NaN,7911,ГБУК «Волгоградский Новый экспериментальный те...,Спектакль,34.0,Театры,20.0,34.0
4036095,2021-11-24 08:06:58,2021-11-24,"Android, 11 (SDK 30)",34c372cb431afaa49c1d70d01495a90e,a2e8bccfafb9180549eb716ffc354b78,https://vmuzey.com/event/tematicheskaya-ekskur...,1438560,Экскурсия «Шорцы – кто они?»,NaN,2454,Таштагольский музей этнографии и природы Горно...,Экскурсия,42.0,Музеи и галереи,18.0,NaN
2271986,2021-11-03 17:24:30,2021-11-03,"Android, 10 (SDK 29)",bd88b51f9ea0a39abcb94f474f565b75,cd816bd83f3bd5ab6b2b29d3991091fe,https://volkovteatr.ru/repertoire/curent/ottsy...,1232357,Спектакль «Отцы и дети»,NaN,9678,ФГБУК «Российский государственный академически...,Спектакль,76.0,Театры,17.0,NaN

In [177]:
cliks_add.drop(['additional_url'],axis = 1, inplace = True)

In [187]:
cliks_add['user_phone_details_id'] = cliks_add['user_phone_details'].apply(lambda x: 
                                                                          re.sub('(\..*)', '', x.replace('iOS ', '')) 
                                                                           if 'iOS' in x 
                                                                           else re.sub('\ \(.*', '', x))

In [188]:
cliks_add['user_phone_details_id'].value_counts()

Android, 10           1384083
Android, 11           1366778
iOS, 15               1094266
iOS, 14                991125
Android, 9             534593
Android, 8.1.0         120382
Android, 8.0.0          86211
iOS, 13                 56178
Android, 7.0            37081
Android, 7.1.2          24400
iOS, 12                 16641
Android, 7.1.1          11518
Android, 6.0.1          11202
Android, 6.0             7183
Android, 12              4828
Android, 10.0             513
iOS, 11                   220
Android, 9.0               99
Android, 11.0              54
Android, 5.1               22
Android, 7.0.0             12
user_phone_details          1
Name: user_phone_details_id, dtype: int64

In [181]:
x = re.sub('\ \(.*', '', cliks_add['user_phone_details'].value_counts().index[1])#.replace('iOS ', ''))

In [182]:
x

'Android, 11'