In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
path = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/'

In [3]:
click = pd.read_csv(path + 'click.csv', sep=';', error_bad_lines=False)

b'Skipping line 862995: expected 6 fields, saw 7\nSkipping line 862997: expected 6 fields, saw 7\n'
b'Skipping line 2142333: expected 6 fields, saw 7\nSkipping line 2142335: expected 6 fields, saw 7\n'
b'Skipping line 2844195: expected 6 fields, saw 7\n'
b'Skipping line 3074159: expected 6 fields, saw 7\n'

In [4]:
path2 = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/events/'

In [5]:
events_pushka_accepted_30122021 = pd.read_csv(path2 + 'events_pushka_accepted_30122021.csv', sep = ',', error_bad_lines=False)

In [6]:
click.sample(3)

,create_time,create_date,user_phone_details,buyer_mobile_phone,user_id,url
1384090,2021-11-10 13:17:34,2021-11-10,"iOS, iOS 15.0.2",c9f2bff92d107c5b8cbd979a8b8cb391,c13fc626448c22c1e5f3b909cf148e0e,https://vmuzey.com/museum/hudozhestvennyy-muze...
1502165,2021-11-16 05:18:09,2021-11-16,"Android, 9 (SDK 28)",99ef63e1f40914db00f8ae3204434e0e,8d76483ae9d708a6f763c408fc867782,https://iframeab-pre3870.intickets.ru/seance/1...
1525071,2021-11-17 07:53:45,2021-11-17,"iOS, iOS 15.0.2",948a2811033e01bf1c10da3aff854ea5,249fa0bedc8a1a290c999985506b82c9,https://vmuzey.com/event/loskutnyy-uzor-tradic...

In [7]:
events_pushka_accepted_30122021.sample(3)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name
5554,900057,Концерт «Берегите Россию»,https://urfolk-art.ru/events/event/beregite-ro...,https://kurgan.kassy.ru/events/koncerty-i-shou...,5669.0,ГАУК СО «Уральский центр народного искусства и...
20035,1274878,Спектакль «Король Лир»,https://voronezhdrama.ru/afisha/,NaN,6991.0,ГБУК ВО «Воронежский государственный академиче...
21418,1281104,Концерт «Город мечты»,https://gubcks.ru/,NaN,12787.0,МБУ «Централизованная клубная система города Г...

In [19]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47856 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47856 non-null  int64
 1   entity.name                   47220 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47220 non-null  float64
 5   entity.organization.name      47220 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [21]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021[events_pushka_accepted_30122021[
    'entity.saleLink'].notna() == True]

In [22]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47218 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47218 non-null  int64
 1   entity.name                   47218 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47218 non-null  float64
 5   entity.organization.name      47218 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ MB

In [23]:
events_pushka_accepted_30122021['session_inentity'] = events_pushka_accepted_30122021['entity.name'
                                                                                     ].apply(lambda x:
                                                                                            x.split()[0].strip())

C:\Users\Rusla\AppData\Local\Temp/ipykernel_37592/2959895161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_pushka_accepted_30122021['session_inentity'] = events_pushka_accepted_30122021['entity.name'

In [24]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47218 entries, 0 to 47855
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47218 non-null  int64
 1   entity.name                   47218 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47218 non-null  float64
 5   entity.organization.name      47218 non-null  object
 6   session_inentity              47218 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.9+ MB

In [25]:
events_pushka_accepted_30122021.sample(3)

,entity._id,entity.name,entity.saleLink,entity.additionalSaleLinks.0,entity.organization._id,entity.organization.name,session_inentity
40424,1412442,Мастер-класс «Vogue для начинающих. Женский урок»,https://kzn.kassir.ru/obrazovanie/vogue-dlya-n...,NaN,26466.0,МБУК г. Казани «Культурно-досуговый комплекс и...,Мастер-класс
36150,1366973,"Спектакль «История медведей панда, рассказанна...",https://quicktickets.ru/volgodonsk-mdt/e16,NaN,21783.0,МАУК Волгодонский молодежный драматический театр,Спектакль
5805,920329,"Спектакль «Дон Жуан, или Каменный пир»",https://www.vedogon.ru/afisha/spektakli/don-zh...,NaN,6725.0,ГБУК г. Москвы «Ведогонь-театр»,Спектакль

In [26]:
events_pushka_accepted_30122021['session_inentity'].value_counts()

Спектакль          18787
Концерт             8216
Выставка            2835
Экскурсия           2552
Мастер-класс        1872
                   ...
XVII                   1
Юбилейное              1
Арт-кафе               1
Культурная             1
Оперетта-мюзикл        1
Name: session_inentity, Length: 817, dtype: int64

In [13]:
events_links = events_pushka_accepted_30122021['entity.saleLink'].unique()

In [14]:
click_links = click['url'].unique()

In [15]:
equal_links = []

for i in click_links:
    for j in events_links:
        if i == j:
            equal_links.append(i)

In [16]:
len(equal_links)

19572

In [17]:
click['url'].nunique()

19924

In [ ]:
events_pushka_accepted_30122021 = events_pushka_accepted_30122021.rename(columns= {'entity.saleLink': 'url',
                                                                                  'entity._id': 'session_id',
                                                                                  'entity.name'})