In [2]:
import pandas as pd
import numpy as np

In [3]:
path = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/'

In [7]:
users = pd.read_csv(path + 'users_full.csv', sep=';', error_bad_lines=False)

In [9]:
users.sample(3)

,create_date,user_phone_details,buyer_mobile_phone,user_id,user_birth,region,age,Region_number
233232,2021-11-05,"Android, 8.0.0 (SDK 26)",1ddcbff1470d633637b0627183226ce4,b5b632ae63fe1bc47ac6741bfaf2e06e,2002-09-23,Краснодарский край,19,23
192017,2021-11-04,"Android, 8.1.0 (SDK 27)",1967e814a5d6e85d06606b3cad5c6169,15380714e3f92d4a66b5ccf48c2b0d79,2001-02-10,Республика Башкортостан,21,2
18452,2021-11-01,"Android, 11 (SDK 30)",8f01e469018fe51eb31b0a2def2a2ab1,6c5706610ab2736f4edbc5dc219312d4,2007-06-12,Курская область,15,46

In [11]:
import json 
expl = [json.loads(line) for line in open(path + 'tickets2.json', 'r', encoding='utf-8', errors = 'ignore')]

In [12]:
tickets = pd.DataFrame(expl)

In [13]:
tickets.sample(3)

,payment_date,comment,session_event_id,session_date,session_params,owner,refund_date,buyer_mobile_phone,refund_reason,payment_amount,visitor_first_name,refund_ticket_price,create_date,status,payment_ticket_price,session_organization_id,visit_date
43940,1637770505,,1427184,1637771505,,7814779935,NaN,dae4190eba265e5489faca889db0724a,None,500.00,Катарина,None,1637770506494749443,visited,500.00,28552,1.640689e+09
453002,1634418000000,refund,752238,1635454800000,,7710944197,1.637273e+09,a29e09e61453dd4a978287f9786879b0,refund,350.0000,---,,1634476280950410111,refunded,350.0000,---,NaN
120982,1637436355,,1289505,1637442000,,7810099978,NaN,cbadc8369598f26dce22e0943117744e,None,400,,None,1637436379374655359,visited,400,3228,1.637502e+09

In [15]:
tickets.visitor_first_name.nunique()

11791

In [16]:
path2 = 'C:/Users/Rusla/Documents/GitHub/Пушкинская карта - стажировка/Sample/events/'

In [18]:
events = pd.read_csv(path2 + 'events.csv', sep = ';', error_bad_lines=False)

In [19]:
events.sample(3)

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета
13526,1290552,Концерт O sole mio,ГБУК г. Москвы «ДК «Дружба»,https://iframeab-pre2620.intickets.ru/seance/1...,NaN
25409,1407159,Спектакль «Кто будет считать звезды...»,ГБУК «Самарский театр юного зрителя «СамАрт»,https://lk.zakaz.cloud/b/2/79,"https://lk.zakaz.cloud/b/2/80, https://lk.zaka..."
10041,1264927,Концерт «Как песня родилась»,ОБУК «Курская областная государственная филарм...,https://kursk.kassy.ru/events/koncerty-i-shou/...,NaN

In [22]:
events[events['ID'] == 1289505]

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета
13372,1289505,Экспозиции в Петропавловской крепости,Государственный музей истории Санкт-Петербурга,https://spbmuseum.tncloud.ru/event/8AA8E84D96E...,NaN

In [28]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854291 entries, 0 to 854290
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   payment_date             854291 non-null  int64
 1   comment                  854291 non-null  object
 2   session_event_id         854291 non-null  object
 3   session_date             854291 non-null  int64
 4   session_params           854291 non-null  object
 5   owner                    854291 non-null  object
 6   refund_date              25115 non-null   float64
 7   buyer_mobile_phone       854291 non-null  object
 8   refund_reason            25115 non-null   object
 9   payment_amount           854291 non-null  object
 10  visitor_first_name       854291 non-null  object
 11  refund_ticket_price      24407 non-null   object
 12  create_date              854291 non-null  int64
 13  status                   854291 non-null  object
 14  payment_ticket_price     854291 non-null  object
 15  session_organization_id  854291 non-null  object
 16  visit_date               393830 non-null  float64
dtypes: float64(2), int64(3), object(12)
memory usage: 110.8+ MB

In [30]:
events_pushka_accepted_30122021 = pd.read_csv(path2 + 'events_pushka_accepted_30122021.csv', sep = ','
                                              , error_bad_lines=False)

In [31]:
events_pushka_accepted_30122021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47856 entries, 0 to 47855
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   entity._id                    47856 non-null  int64
 1   entity.name                   47220 non-null  object
 2   entity.saleLink               47218 non-null  object
 3   entity.additionalSaleLinks.0  4636 non-null   object
 4   entity.organization._id       47220 non-null  float64
 5   entity.organization.name      47220 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.2+ MB

In [32]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42154 entries, 0 to 42153
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       42154 non-null  int64
 1   Название события                         42154 non-null  object
 2   Организатор мероприятия                  42154 non-null  object
 3   Ссылка на покупку билета                 42151 non-null  object
 4   Дополнительная ссылка на покупку билета  3817 non-null   object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [37]:
events_2 = events_pushka_accepted_30122021.copy()

In [38]:
events_2.drop(['entity.organization._id'], axis = 1, inplace = True)

In [39]:
events_2 = events_2.rename(
    columns= {'entity._id': 'ID', 'entity.name': 'Название события', 
              'entity.saleLink': 'Ссылка на покупку билета', 
              'entity.additionalSaleLinks.0': 'Дополнительная ссылка на покупку билета',
             'entity.organization.name': 'Организатор мероприятия'})

In [40]:
events_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47856 entries, 0 to 47855
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       47856 non-null  int64
 1   Название события                         47220 non-null  object
 2   Ссылка на покупку билета                 47218 non-null  object
 3   Дополнительная ссылка на покупку билета  4636 non-null   object
 4   Организатор мероприятия                  47220 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.8+ MB

In [41]:
events_all = pd.concat([events, events_2])

In [42]:
events_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90010 entries, 0 to 47855
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       90010 non-null  int64
 1   Название события                         89374 non-null  object
 2   Организатор мероприятия                  89374 non-null  object
 3   Ссылка на покупку билета                 89369 non-null  object
 4   Дополнительная ссылка на покупку билета  8453 non-null   object
dtypes: int64(1), object(4)
memory usage: 4.1+ MB

In [43]:
events_all['Название события'].unique()

array(['Спектакль «Касатка»', 'Спектакль «Гамлет»',
       'Спектакль «Горе от ума»', ..., 'Акция «День Викинга»',
       'Спектакль «Отворяя сердце настежь»',
       'Концерт в рамках фестиваля «Звезды НСО РБ»'], dtype=object)

In [44]:
events_all.sample()

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета
18629,1269895,Концерт «Все оттенки русской песни»,Московский Фольклорный Культурный Центр под ру...,https://iframeab-pre0380.intickets.ru/seance/1...,NaN

In [55]:
events_all = events_all[events_all['Название события'].notna()]

In [56]:
#создаю столбуц "Событие" куда соберу названия событий, такие как Спектакль, Балет и т.п. из первых слов Названия события
events_all['Событие'] = events_all['Название события'].apply(lambda x: x.split()[0].strip())

In [57]:
events_all.sample(3)

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета,Событие
23284,1287079,Спектакль «Это я тебе ухо откусила»,КОГАУК «Театр на Спасской»,https://ekvus-kirov.ru/afisha/show/224,NaN,Спектакль
17729,1329590,Оперный гала-концерт,Общество с ограниченной ответственностью «Рекс...,https://xn--80ajkahlddfeberepc7c0b4lh.xn--p1ai...,NaN,Оперный
5972,940056,Интерактивный театр «Мы играем и поем»,Северский музыкальный театр,https://smteatr.ru/kupit-bilet.html#/buy/311,NaN,Интерактивный

In [58]:
events_all['Событие'].unique() #есть странные названия, посмотрим повнимательнее что у нас получилось

array(['Спектакль', 'Балет', 'Опера', ..., 'Хлебзавод',
       'Трамвайно-пешеходная', '«Афганистан'], dtype=object)

In [73]:
events_all['Событие'].value_counts()

Спектакль                31808
Концерт                  15796
Выставка                  5569
Экскурсия                 5057
Мастер-класс              4239
                         ...
«Солдатская                  1
«Танцы,                      1
Беломорско-Балтийский        1
Северная                     1
«ВАЛЬС-КОНЦЕРТ»              1
Name: Событие, Length: 2095, dtype: int64

In [74]:
events_all[events_all['Событие'] == '«ВАЛЬС-КОНЦЕРТ»']

,ID,Название события,Организатор мероприятия,Ссылка на покупку билета,Дополнительная ссылка на покупку билета,Событие
24804,1400515,«ВАЛЬС-КОНЦЕРТ» в рамках Всероссийской акции «...,ГАУК АО «Астраханская государственная филармония»,https://astr.kassir.ru/teatr/astrahanskaya-fil...,NaN,«ВАЛЬС-КОНЦЕРТ»